{% extends "layout_no_head.html" %}

{% set homepage_url = "/product-page" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="banner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{{data['bannerText']}} </h2>
        <p>{{data['guidanceText']}}</p>
        <a href="{{data['goBackURL']}}">{{data['returnText']}}</a>

      </div>
    </div>
  </div>
</div>

<iframe src="{{data['exampleURL']}}" min-height="600px" width="100%" frameBorder="0" id="example"></iframe>

{% endblock %}
