{% extends "product.html" %}

{% set homepage_url = "/product-page" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% block breadcrumbs %}
    {% include "includes/breadcrumbs.html" %}
  {% endblock %}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Design how your service sends users to GOV.UK Verify
        </h1>

        <p>
          GOV.UK Verify forms part of your service’s user journey, so you need to consider where and how you will send users to that part of the journey.
        </p>

        <p>
          See all the steps involved in the GOV.UK Verify user journey for a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="level-1-user-journey">LOA 1 service</a>
          </li>
          <li>
            <a href="level-2-user-journey">LOA 2 service</a>
          </li>
        </ul>

        <h2 class="govuk-heading-l">
          Where to put GOV.UK Verify in your user journey
        </h2>

        <p>
          Your service should send users to GOV.UK Verify at the point you need to check their identity. For most services, this will be at the start of the journey, but some services may allow users to enter some information first, for example to confirm their eligibility.
        </p>

        <h3 class="govuk-heading-m">
          Using GOV.UK Verify at the start of the service
        </h3>

        <img src="../public/images/where-to-posititon-verify-1.png" alt="" class="diagram">

        <p>
          Use GOV.UK Verify at the start of your service when:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            your service contains sensitive data that should only be visible to a verified user
          </li>
          <li>
            you want the user’s name, date of birth and address (entered during the verification process) to be passed to the service without the user needing to submit it a second time
          </li>
          <li>
            you want users to be able to save their progress and return later
          </li>
          <li>
            you want to filter out users who are unable to verify their identity with GOV.UK Verify so they can be directed to another way of using your service
          </li>
        </ul>

        <h3 class="govuk-heading-m">
          Using GOV.UK Verify later in the service
        </h3>

        <p>
          Some services place GOV.UK Verify later in their user journey. This allows users to complete as much of your service as possible before they need to verify their identity.
        </p>

        <img src="../public/images/where-to-posititon-verify-2.png" alt="" class="diagram">

        <p>
          Use GOV.UK Verify later in the service when:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            you want to check users’ eligibility to use a service before checking their identity
          </li>
          <li>
            your service has other ways for users to verify their identity, such as face-to-face in a government office – they can complete parts of the service online before finishing the later stages elsewhere
          </li>
        </ul>


        <h2 class="govuk-heading-l">How to send users to GOV.UK Verify from your service</h2>
        <p>
          You should let your users know they’re leaving your service before you send them to GOV.UK Verify. GDS has created different design patterns to help you do this.
        </p>

        <h3 class="govuk-heading-m">If users can only sign in to your service with GOV.UK Verify</h3>

        <p>
          Use the <a href="example?bannerText=Example of the single sign on page&guidanceText=&returnText=Return to Design your service&goBackURL=index&exampleURL=">single sign on pattern</a> if there’s only one way to use your service online.
        </p>

        <img src="../public/images/prepare-single-signon.png" alt="" class="diagram">

        <h3 class="govuk-heading-m">If users can sign in to your service in more than one way</h3>

        <p>
          Use the <a href="example?bannerText=Example of the multiple sign in page&guidanceText=&returnText=Return to Design your service&goBackURL=index&exampleURL=">multiple sign in page pattern</a> if there’s more than one way for users to sign in to your service. For example, users can sign in to some HM Revenue and Customs services with either GOV.UK Verify or Government Gateway. This is only for existing services that already use Government Gateway.
        </p>

        <img src="../public/images/prepare-multiple-accounts.png" alt="" class="diagram">

        <p>
          You can also use the <a href="example?bannerText=Example of the create account page&guidanceText=&returnText=Return to Design your service&goBackURL=index&exampleURL=">create an account pattern</a> to show new users the different ways to use your service.
        </p>

        <img src="../public/images/prepare-create-account.png" alt="" class="diagram">

        <h3 class="govuk-heading-m">If a user cannot be verified</h3>

        <p>Your service should provide alternative routes for users who are not able to verify their identity online. GOV.UK Verify will show any users who cannot be verified the other ways they can use your service, for example by phone or by post.</p>

        <p>
          See an  <a href="example?bannerText=Example of what a user will see if they can’t be verified&guidanceText=&returnText=Return to Design your service&goBackURL=index&exampleURL=/design-and-research/unsuccessful">example of what GOV.UK Verify shows a user who can’t be verified</a>.
        </p>

        <img src="../public/images/not-able-to-verify.png" alt="" class="diagram">

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>

    </div>

  </main>
</div>

{% endblock %}
