{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Design your service using GOV.UK Verify
        </h1>

        <p>
          Your service should send users to GOV.UK Verify at the point you need to check who they are. This is usually near the start of the user journey.
        </p>

        <img src="../public/images/verify-journey.png" alt="" class="diagram">

        <p>
          The user will choose a certified company to verify their identity. Once they've been verified, they'll be sent back to your service. You'll be able to see their name, address and date of birth.
        </p>

        <p>
          Email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> if you have any questions about how GOV.UK Verify fits into your service.
        </p>

        <h3 class="govuk-heading-m">See the GOV.UK Verify user journey</h3>

        <p>
          See all the steps involved in the GOV.UK Verify user journey for a:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="level-1-user-journey">LOA 1 service</a>
          </li>
          <li>
            <a href="level-2-user-journey">LOA 2 service</a>
          </li>
        </ul>

        <!-- <p>
          You don't need to submit any personal information to see either of the example user journeys.
        </p> -->

        <h3 class="govuk-heading-m">If a user can't be verified</h3>

        <p>GOV.UK Verify will show any users who can't be verified the other ways they can use your service, for example by phone or by post.</p>

        <p>
          See an example of what GOV.UK Verify <a href="example?bannerText=Example of what a user will see if they can't be verified&guidanceText=&returnText=Return to Design your service&goBackURL=index&exampleURL=/design-and-research/unsuccessful">shows a user who can't be verified</a>.
        </p>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "design-your-service-complete",
              name: "design-your-service-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 2 of 4: Design and research your service
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress.
          </p>
          {% endif %}

        </aside>

      </div>

    </div>

  </main>
</div>

{% endblock %}
