{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">Prepare users for GOV.UK Verify LOA 1</h1>
   
        <p>
          Each certified company will ask users for different information so you cannot give a list of documents your users will need.
        </p>

        <h2 class="govuk-heading-m govuk-!-mb-r2">If you offer multiple sign in methods</h2>
        <p>Put some text here?</p>
        <img src="../public/images/prepare-multiple-accounts.png" alt="" class="diagram">
        <p>Put some text here?</p>
        <img src="../public/images/prepare-create-account.png" alt="" class="diagram">

        <h2 class="govuk-heading-m govuk-!-mb-r2">If you only use GOV.UK Verify</h2>
        <p>Put some text here?</p>
        <img src="../public/images/prepare-single-signon.png" alt="" class="diagram">

      </div>
    </div>

  </main>
</div>

{% endblock %}
