{% extends "product.html" %}

{% set homepage_url = "/product-page" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% block breadcrumbs %}
    {% include "includes/breadcrumbs.html" %}
  {% endblock %}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Carry out research using a GOV.UK Verify prototype
        </h1>

        <p>
          You should include the GOV.UK Verify journey when you test your service with users. You can use a prototype GOV.UK Verify user journey to do this.
        </p>

        <p>
          There are 2 prototypes available – one for each level of assurance (LOA).
        </p>

        <p>
          Each prototype represents a typical GOV.UK Verify user journey at that LOA. In a live service, user journeys will vary depending on the questions asked by the identity provider and evidence provided by the user.
        </p>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-heading-m" style="margin-bottom:10px" href="https://govuk-verify.herokuapp.com/">Use the prototypes</a>
          </li>
          <li>
            Username: pirate
          </li>
          <li>
            Password: bunting
          </li>
        </ul>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>

    </div>
  </main>
</div>

{% endblock %}
