{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      },
      {
        "text": "Test your service with your users",
        "href": "/design-and-research/test-service-with-users"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your prototype link</h1>

        <p>
          This link will send the user to a GOV.UK Verify prototype journey. Use it in a button or form to integrate it with your prototype.
        </p>

        <div class="panel govuk-body govuk-!-p-r3">
          <p class="govuk-!-mb-r0">
            <a href="#" class="govuk-!-w-bold">http://verify-prototype/a0a2617159244af48f64dff8063bda69</a>
          </p>
        </div>

        <p>
          Make sure you save this link or <a href="t" id="bookmark-this">bookmark this page</a> so you can access it later.
        </p>

        <p>
          <a href="test-service-with-users">Return to test your service with your users</a>
        </p>

      </div>

      <!-- <div class="govuk-grid-row__item govuk-grid-column-full">
        {% from "table/macro.njk" import govukTable %}

        {{ govukTable({
          "caption": "",
          "firstCellIsHeader": true,
          "head": [
            {
              "text": ""
            },
            {
              "text": ""
            }
          ],
          "rows": [
            [
              {
                "text": "Your link"
              },
              {
                "text": "http://verify-prototype/"+data['proto-service-name']
              }
            ],
            [
              {
                "text": "Level of assurance"
              },
              {
                "text": data['proto-loa']
              }
            ],
            [
              {
                "text": "Service"
              },
              {
                "text": data['proto-service-name']
              }
            ],
            [
              {
                "text": "Organisation"
              },
              {
                "text": data['proto-org-name']
              }
            ],
            [
              {
                "text": "Other ways to access this service"
              },
              {
                "text": data['proto-other-ways']
              }
            ],
            [
              {
                "text": "Service ‘verified’ page URL"
              },
              {
                "text": data['proto-url']
              }
            ]
          ]
        }) }}

        <p><a href="/design-and-research/edit">Edit your link’s details</a></p><br>
      </div> -->

<!--
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-s">Save this page</h2>
        <p>You’ll need to save the URL for this page to make changes to your link. Anyone with the URL for this page can make chanes to your link.</p>

        <a href="t" id="bookmark-this">Bookmark this page</a><br>
        <a href="">Email a link to this page</a>

        <br>
      </div> -->

    </div>
  </main>
</div>

{% endblock %}
