{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <span class="govuk-caption-xl">Check if you need GOV.UK Verify</span>
        <h1 class="govuk-heading-xl">Choose the right level of assurance</h1>

        <p class="govuk-body">
          You can choose how thorough you want your service's identity checks to be by picking a 'level of assurance'.
        </p>

        <p class="govuk-body">
          Which one you pick depends on how confident your service needs to be that a user is who they say they are.
        </p>

        <p class="govuk-body">
          To help make your choice, you should think about:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            how many users will need to use your service
          </li>
          <li>
            how well-known your service is - popular services are more likely to be threatened or attacked
          </li>
          <li>
            how users will feel about using your service, for example will they be reluctant to use it or is there a chance they'd use it maliciously
          </li>
          <li>
            if your service will check any additional information about your user, for example if there's a record of them in an existing database
          </li>
          <li>
            if your service has been targeted by fraud or cyber crime in the past
          </li>
          <li>
            what would happen if a user impersonated someone else to use your service
          </li>
        </ul>

        <h2 class="govuk-heading-l">
          Level 1
        </h2>

        <p class="govuk-body">
          You should use level 1 if:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            users can't use your service to claim benefits or payments
          </li>
          <li>
            your service will need to check other information about a user as well as their identity, such as their driving licence number
          </li>
        </ul>

        <p class="govuk-body">
          If your service also lets users update personal information about themselves then you might need level 2 instead.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            The Driver and Vehicle Licensing Agency (DVLA) use level 1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because users can only get information from this service. They can’t use it to apply for anything more valuable or change their details.
          </p>
        </div>

        <p class="govuk-body">
          It takes users an average of 5 minutes to prove their identity with level 1. They only need to do this once.
        </p>

        <p class="govuk-body">
          They'll be asked a series of questions that only they know the answer to. They usually won't need to provide any additional documents.
        </p>

        <h2 class="govuk-heading-l">
          Level 2
        </h2>

        <p class="govuk-body">
          You should use level 2 if:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            your service gives users benefits, money or anything else valuable
          </li>
          <li>
            you need to able to take users to court if they fraudulently use your service
          </li>
        </ul>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            HM Revenue and Customs (HMRC) use level 2 in their <a href="https://www.gov.uk/log-in-file-self-assessment-tax-return">file a Self Assessment tax return</a> service. This is because a user could be fined if someone else pretends to be them and uses this service to give false information to HMRC.
            </p>
        </div>

        <p class="govuk-body">
          It takes users an average of 15 minutes to prove their identity. They only need to do this once.
        </p>

        <p class="govuk-body">
          They'll usually need at least one document (for example a driving licence or passport) to prove their identity. They might also need financial documents, such as a bank or credit card statement.
        </p>

        <p class="govuk=body">
          Email <a href="https://connecting-to-verify-prototype.herokuapp.com/check_i_need_verify/assurance">new email address</a> if you need more information about the different levels of assurance.
        </p>

          <nav class="pagination" role="navigation" aria-label="Pagination">
            <ul>
                <li class="previous">
                  <a href="index">
                    <span class="title">
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                        <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                      </svg>
                      Previous
                    </span>
                    <span class="label">Find out if GOV.UK Verify is right for your service</span>
                  </a>
                </li>

                <li class="next">
                  <a href="../design_and_build/index">
                    <span class="title">
                      Next
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                        <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                      </svg>
                    </span>
                    <span class="label">Design your service</span>
                  </a>
                </li>
            </ul>
          </nav>

    </div>
  </main>
</div>

{% endblock %}
