{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Choose the right level of assurance</h1>

        <p class="govuk-body">
          GOV.UK Verify offers 2 different levels of assurance (LOA). Which one you pick depends on how sure you need to be your users are who they say they are.
        </p>



        <h2 class="govuk-heading-m">LOA 1</h2>

        <p class="govuk-body">
          You can use LOA 1 if there aren’t any serious consequences to a user impersonating someone else when using your service.
        </p>

        <div class="panel govuk-body">
          <p>
            <span>Example</span>
            The Driver and Vehicle Licensing Agency (DVLA) use LOA1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because users can only get information from this service. They can’t use it to apply for anything more valuable or change their details.
          </p>
        </div>


        <h2 class="govuk-heading-m">LOA 2</h3>

        <p class="govuk-body">
          If there are serious consequences to a user impersonating someone else when using your service, you’ll need LOA 2.
        </p>

        <p class="govuk-body">
          You should also use LOA 2 if you need to able to take users to court when they give fraudulent information in your service.
        </p>

        <div class="panel govuk-body">
          <span>Example</span>
          HM Revenue and Customs (HMRC) use LOA 2 in their <a href="https://www.gov.uk/log-in-file-self-assessment-tax-return">file Self Assessment tax return</a> service. This is because a user could be fined if someone else impersonates them and uses this service to give incorrect information to HMRC.
        </div>


        <h2 class="govuk-heading-m">If you need a higher level of assurance</h3>

        <p class="govuk-body">
          You’ll need a higher level of assurance if you need to be sure ‘beyond reasonable doubt’ that the user is who they say they are, for example if they need to show they’re physically identical to the person they claim to be.
        </p>

        <p class="govuk-body">
        <a href="https://www.signin.service.gov.uk/feedback?">Contact the GOV.UK Verify team</a> if you think you might need a higher level of assurance for your service.
        </p>


        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/check_i_need_verify/index">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Check you need GOV.UK Verify</span>
                </a>
              </li>

              <li class="next">
                <a href="/design_and_build/index">
                  <span class="title">
                    Next
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </span>
                  <span class="label">Design a service with <br>GOV.UK Verify</span>
                </a>
              </li>
          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
