{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Choose the right level of assurance</h1>

        <p class="govuk-body">
          GOV.UK Verify offers 2 different levels of assurance (LOA). Which one you pick depends on how sure you need to be your users are who they say they are. 
        </p>

        <h2 class="govuk-heading-l">Levels of assurance</h2>

        <h3 class="govuk-heading-m">LOA1</h3>

        <p class="govuk-body">
          You can use LOA 1 if there aren’t any serious consequences to a user impersonating someone else when using your service. 
        </p>
        <p class="govuk-body">
          For example, the Driver and Vehicle Licensing Agency (DVLA) use LOA1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because users can only get information from this service - they can’t use it to apply for anything more valuable. It’s less likely a user would try to impersonate someone else to use this service.
        </p>
        <p class="govuk-body">
          It can only take 5 minutes for users to prove their identity if your service uses the LOA 1.
        </p>

        <h3 class="govuk-heading-m">LOA2</h3>

        <p class="govuk-body">
          If there are serious consequences to a user impersonating someone else when using your service, you’ll need the LOA 2. 
        </p>
        <p class="govuk-body">
          For example, HM Revenue and Customs (HMRC) use LOA 2 in their <a href="https://www.gov.uk/log-in-file-self-assessment-tax-return">file Self Assessment tax return</a> service. This is because a user could be fined if someone else impersonates them and uses this service to give incorrect information to HMRC. 
        </p>
        <p class="govuk-body">
          You should use the LOA 2 if you need to able to take users to court if they give fraudulent information in your service. 
        </p>
        <p class="govuk-body">
          It will take up to 15 minutes for users to prove their identity if your service uses LOA 2.
        </p>

        <h3 class="govuk-heading-m">If you need a higher level of assurance</h3>


        <br>
        <a href="/design_and_build/index" class="govuk-body">Continue to ‘designing your service’</a>

      </div>
      
    </div>
  </main>
</div>

{% endblock %}
