{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-l">Check I need GOV.UK Verify?</h1>
        <a href="/design_and_build/index" class="govuk-body">Design and build</a>
      </div>
      <iframe src="https://giphy.com/embed/3R9LDINpbGX2o" width="480" height="265" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
  </main>
</div>

{% endblock %}
