{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "/product-page"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Support
        </h1>

        <h2 class="govuk-heading-l">
          Support for service teams
        </h2>

        <p>
          GOV.UK Verify is supported 24 hours a day, 7 days a week by a full-time team at the Government Digital Service.
        </p>

        <p>
          <a href="https://verifystatus.digital.cabinet-office.gov.uk/">Check if any incidents have been reported</a> before you contact the GOV.UK Verify support team. You can sign up to get emails or text messages to find out when incidents are reported or updated.
        </p>

        <h3 class="govuk-heading-m">
          Contacting GOV.UK Verify support
        </h3>

        <p>
          Email <a href="idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> to get help and give feedback. We’ll usually reply by the next working day.
        </p>

        <p>
          If it's an emergency, we'll reply within 20 minutes and send you updates every hour until the problem is fixed.
        </p>

        <p>
          It's an emergency if:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a significant number of users cannot verify themselves to use your service</li>
          <li>you think there’s been a security breach</li>
        </ul>

        <h2 class="govuk-heading-l">
          Get help signing in
        </h2>

        <p>
          If you need help signing in to your account, <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify#how-to-get-help-signing-in">contact the identity provider (also called ‘certified company’) you set up your account with</a>.
        </p>

      </div>

    </div>
  </main>
</div>

{% endblock %}
