
{% macro headerNav(homepage_url, navItems, section) %}

<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">

        <ul id="proposition-links">
          <li><a href="/product-page/support" >Support</a></li>
          <li><a href="https://verify-tech-docs.cloudapps.digital" >Documentation</a></li>
          <li><a href="/get-started" >Connect</a></li>
        </ul>

    </nav>
  </div>
</div>

{% endmacro %}

{% macro productName(name, phase) %}

GOV.UK{% if name %}<span class="product-name">{{ name }}{% endif %}</span>{% if phase %}<span class="phase-banner"><strong class="phase-tag">{{ phase }}</strong></span>{% endif %}

{% endmacro %}
