// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

//Import GOV.UK Frontend
@import "@govuk-frontend/all/all";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';
@import 'patterns/task-list';

.code {
  color: $govuk-text-colour;
  background-color: $govuk-grey-4;

  text-shadow: 0 1px $govuk-white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border: 1px solid $govuk-border-colour;
  padding: 4px 4px 2px;
  
}


// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s,
.govuk-prose-scope ul + h2,
.govuk-prose-scope ul + h3,
.govuk-prose-scope ul + h4,
.govuk-prose-scope pre + h2,
.govuk-prose-scope pre + h3,
.govuk-prose-scope pre + h4 {
  @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
}

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


ol.task-list{
  padding-left: 30px;
}

.task-list-section{
  margin-top: 50px;
  position: relative;
}

.instruction-list-item-top li{
  position: relative;
}

.instruction-list-item-top svg{
  position: absolute;
  left: -26px;
  top: 4px;
}

.task-list-section-number{
  position: absolute;
  left: -30px;
}



nav.pagination ul{
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  font-size: 19px;
}

nav.pagination li{
  display: inline-block;
  width: 50%;
}

nav.pagination li.previous{
  margin-left: -15px;
}

nav.pagination li.next{
  float: right;
  text-align: right;
}

nav.pagination a{
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

nav.pagination a:visited{
  color: #005ea5;
}

nav.pagination li:hover{
  background-color: #f8f8f8;
}

nav.pagination .title{
  display: block;
  font-size: 27px;
  line-height: 1.25;

}

nav.pagination .icon{

}

nav.pagination .previous .icon{

}

nav.pagination .label{
  text-decoration: underline;
  display: block;
}

.panel{
  border-left: solid 5px #bfc1c3;
  padding: 0px 15px;
  span{
    font-weight: bold;
    display: block;
  }
}

td.govuk-c-table__cell.action{
  text-align: right;
}

.edit-link{
  float: right;
  margin-bottom: -50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}

.diagram{
  max-width: 100%;
  border: 5px solid lightgrey;
  margin-bottom: 25px;
}
