// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';
@import 'patterns/task-list';
@import 'patterns/task-list-custom';
@import 'patterns/product-overview-page';
@import 'patterns/verify-journey-diagram';
@import 'patterns/navigation';
@import "patterns/step-by-step-navigation";
@import "patterns/side-navigation";
@import "patterns/email-example";
@import "patterns/team-members";
@import "patterns/certificate-details";
@import "patterns/code";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s,
.govuk-prose-scope ul + h2,
.govuk-prose-scope ul + h3,
.govuk-prose-scope ul + h4,
.govuk-prose-scope pre + h2,
.govuk-prose-scope pre + h3,
.govuk-prose-scope pre + h4 {
  @include govuk-responsive-padding(4, "top");
}

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

$dark-orange: #CB4B0B;

// Fix for error message spacing cos I've been using p tags inside them

@media (min-width: 40.0625em) {
  .govuk-error-summary {
    padding: 20px 20px 0;
  }
}


.govuk-c-breadcrumbs__link{
  font-size: 16px;
}

ol.task-list{
  padding-left: 30px;
}

.task-list h2{
  position: relative;
  margin-top: 60px;
}

.instruction-list-item-top li{
  position: relative;
}

.instruction-list-item-top img{
  position: absolute;
  left: -26px;
  top: 4px;
}

.task-list-section-number{
  position: absolute;
  left: -30px;
}

nav.pagination ul{
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  font-size: 19px;
}

nav.pagination li{
  display: inline-block;
  width: 50%;
}

nav.pagination li.previous{
  margin-left: -15px;
}

nav.pagination li.next{
  float: right;
  text-align: right;
}

nav.pagination a{
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

nav.pagination a:visited{
  color: #005ea5;
}

nav.pagination li:hover{
  background-color: #f8f8f8;
}

nav.pagination .title{
  display: block;
  font-size: 27px;
  line-height: 1.25;
}

nav.pagination .icon{

}

nav.pagination .previous .icon{

}

nav.pagination .label{
  text-decoration: underline;
  display: block;
}

.panel{
  border-left: solid 10px govuk-colour("grey-3");
  padding: 0px 15px;
  margin-bottom: 25px;
  span{
    font-weight: bold;
    display: block;
  }
}

td.govuk-table__cell.action{
  text-align: right;
}

.edit-link{
  float: right;
  margin-bottom: -50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}

.diagram{
  max-width: 100%;
  border: 1px solid $govuk-border-colour;
  margin-bottom: 25px;
}

ul.govuk-list--bullet, ul.govuk-list--number{
  margin-top: -10px;
}

#global-header .header-proposition #proposition-link li, #global-header .header-proposition #proposition-links li {
  float: right;
}

.banner{
  margin: -10px 0 1px 0;
  padding: 15px 0;
  background-color: #005ea5;
}

.banner h2, .banner a, .banner p{
  color: #fff;
}

// fix for breadcrumb font size being too large

.govuk-breadcrumbs__link {
  font-size: 16px!important;
}


// fix for tables

.sla-table-2 {
  tr {
    vertical-align: top;

    td {
      width: 20%
    }

    td:nth-of-type(2) {
      width: 40%
    }

  }
}

// list of connections / certs to Rotate

.connection-list {
  margin-bottom: 30px;

  li {
    border-bottom: 1px solid $govuk-border-colour;
    padding: 15px 0;

    h3 {
      margin-bottom: 10px
    }

    dl {
      @include govuk-font($size: 16);
      margin: 0;

      dt, dd {
        display: inline-block;
        vertical-align: top;
        line-height: 1.4;
      }

      dt {
        min-width: 6.5em;
        // font-weight: bold;
      }

      dd {
        margin: 0;
        max-width: 70%;
      }
    }

    .actions {

      ul {
        list-style: none;
        padding: 10px 0 0;

        li {
          border-top: none;
          border-bottom: none;
          padding: 0 15px 0 0;
          display: inline;
        }

      }

    }

    .status-message {
      color: $govuk-error-colour;
    }

  }

  li:first-of-type {
    border-top: 1px solid $govuk-border-colour;
  }

}

// Status colours for tags

.govuk-tag--grey {
  background-color: govuk-colour("white");
  color: $govuk-secondary-text-colour;
  border: 2px solid $govuk-secondary-text-colour;
}

.govuk-tag--expiring {
  background-color: $govuk-error-colour;
}

.govuk-tag--active {
  background-color: govuk-colour("blue");
}

.govuk-tag--secondary {
  background-color: govuk-colour("white");
  color: $dark-orange;
  border: 2px solid $dark-orange;
}

// Grey secondary button

.govuk-button--grey {
  background-color: govuk-colour("grey-3");
  color: govuk-colour("black")!important;
  box-shadow: 0 2px 0 govuk-colour("grey-2");
}

.govuk-button--grey:hover {
  background-color: govuk-colour("grey-4");
}

// destructive button

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}


@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

.govuk-button--warning,
.govuk-button--warning:active,
.govuk-button--warning:focus,
.govuk-button--warning:visited {
  background-color: $govuk-error-colour;
  box-shadow: 0 2px 0 shade($govuk-error-colour, 50%);
}

.govuk-button--warning:hover {
  background-color: tint($govuk-error-colour, 10%);
}

// Hidden link to email

#link-to-confirmation-email {
  position: absolute;
  top: 5px;
  right: 10px;

  a {
    color: $govuk-secondary-text-colour;
  }

  a:hover {
    color: govuk-colour("grey-4");
  }

  a:active {
    color: $govuk-text-colour
  }

}

// warning links for deleting things etc.

.destructive-link,
.destructive-link:visited {
  color: $govuk-error-colour!important;
}

.destructive-link:hover {
  color:govuk-colour("bright-red");
}

.destructive-link:active {
  color: $govuk-text-colour;
}

// border colours for error summaries

.govuk-error-summary--grey {
  border-color: $govuk-secondary-text-colour;
}

.govuk-error-summary--success {
  border-color: #00823b;
}

.govuk-error-summary--orange {
  border-color: $dark-orange;
}

// secondary links placed next to buttons

.secondary-link {
  display: inline-block;
  padding: 9px 10px 6px 10px;
  @include govuk-font($size: 19);
}

// make it so links used to expand sections don't show as visited

.link-expandable:visited {
    color: $govuk-link-colour!important;
  }


// grey text on disabled tables

.grey-text {
  color: $govuk-secondary-text-colour;
}


// making buttons look like links so i can pass data through to dashboard page from emails

.submit-fake-form-in-email {
  @extend %govuk-body-m;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

  form, input, button {
    display: inline;
  }

  button {
    font-family: inherit;
    color: $govuk-link-colour;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    text-transform: none;
    border: none;
    background: none;
    text-align: start;
    text-transform: none;
    text-decoration: underline;
    box-sizing: content-box;
  }

  button:hover {
    cursor: pointer;
  }
}


// supporting text for component names on dashboard page

.component-supporting-text {
  font-weight: 300;
  padding-left: 0.15em;
}

// js will hide reveal this

#confirm-remove-team-member {
  display: none;
}

// override govuk-hint to be black

.govuk-hint__black {
  color: $govuk-text-colour;
}
