{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Choose the right level of assurance</h1>

        <p>
          You must choose a level of assurance (LOA) for your service. Which one you pick depends on how confident your service needs to be that:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            a user is who they say they are
          </li>
          <li>
            the person they're claiming to be is real
          </li>
        </ul>

        <p>
          To help make your choice, you should think about:
        </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          what financial, physical or emotional damage could be done to a user if someone else impersonated them when using your service
        </li>
        <li>
          what users can get from your service, for example benefits or personal information
        </li>
        <li>
          how much money your organisation could lose or how much damage could be done to its reputation if your service is threatened or attacked
        </li>
        <li>
          how many users your service has and how well-known it is
        </li>
        <li>
          whether your service has been targeted by fraud or cyber crime in the past
        </li>
      </ul>

        <h2 class="govuk-heading-l">
          LOA 1
        </h2>

        <p>
          LOA 1 is suitable for many government services.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            The Driver and Vehicle Licensing Agency (DVLA) use LOA 1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because the service lets users see information that isn’t sensitive.
          </p>
          <p>
            If a user impersonated someone else to use this service, they wouldn’t be able to use this information to do any harm to that person.
          </p>
        </div>

        <p>
          If your service uses LOA 1, it will take users:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            about 5 minutes to create an account with a certified company – they only need to do this once
          </li>
          <li>
            less than a minute to sign in to your service after they've created an account
          </li>
        </ul>

        <p>
          To create an account, they might be asked:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            a series of questions that only they know the answer to, like how much their monthly mortgage payments are or when they last took out a mobile phone contract
          </li>
          <li>
            to sign in to their online bank account
          </li>
          <li>
            to take a photo of themselves and an identity document, such as a driving licence
          </li>
        </ul>

        <p>
          95% of users over 16 will be able to create an account and prove their identity with an LOA 1 service.
        </p>

        <h2 class="govuk-heading-l">
          LOA 2
        </h2>

        <p>
          LOA 2 will let you carry out more rigorous identity checks.
        </p>

        <p>
          LOA 2 might be suitable for your service if it:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            gives users money or benefits
          </li>
          <li>
            lets users update information about themselves or see sensitive information
          </li>
        </ul>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
              The Department for Business, Energy and Industrial Strategy (BEIS) use LOA2 in their <a href="https://www.gov.uk/claim-redundancy">claim for redundancy and monies owed</a> service. This is because users receive money from this service.
          </p>
          <p>
            If a user impersonated someone else to use this service, they could get money they're not entitled to. This could also stop the real user from being paid money they're owed.
          </p>
        </div>

        <p>
          If you ever need to take users to court for fraudulently using your service, it's unlikely you’ll be held responsible if you used LOA 2. This is because the court will see that your service carried out rigorous checks when you tried to prove the user’s identity.
        </p>

        <p>
          If your service uses LOA 2, it will take users:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            about 15 minutes to create an account with a certified company – they only need to do this once
          </li>
          <li>
            less than a minute to sign in to your service after they've created an account
          </li>
        </ul>

        <p>
          They'll usually need at least 2 documents to create an account. These should be from:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            a government department, for example a passport
          </li>
          <li>
            a bank or building society, for example a credit or debit card
          </li>
        </ul>

        <p>
          80% of users over 16 will be able to create an account and prove their identity with an LOA 2 service.
        </p>

        <p>
          Email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> if you need help choosing the right level of assurance for your service.
        </p>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "level-of-assurance-complete",
              name: "level-of-assurance-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

    </div>

  </main>
</div>

{% endblock %}
