{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">How GOV.UK Verify works</h1>

        <p>
          GOV.UK Verify works with different organisations, known as identity providers (or certified companies), to prove users' identities.
        </p>

        <p>
          The identity providers have met government and industry standards to provide identity assurance services as part of GOV.UK Verify. They work with GOV.UK Verify to ensure users’ data is handled securely, helping your service to meet its data protection obligations.
        </p>

        <p>
          The certified companies that currently work with GOV.UK Verify are Barclays, CitizenSafe, Digidentity, Experian, Post Office, Royal Mail and SecureIdentity.
        </p>

        <h2 class="govuk-heading-s govuk-!-mb-r2">How users are verified during the sign up journey</h1>

      <p>
        When signing in to your service for the first time, users will be asked to set up an account with one of the identity providers.
      </p>

      <p>
        They’ll ask the user to provide evidence and answer questions about themselves. This will be checked against different records, such as their driving licence, passport, mobile phone contract or credit reference checks.
      </p>

    </div>
    <div class="govuk-grid-column-full">
      <img src="../public/images/how-it-works-2.png" alt="" class="diagram">
    </div>

      <div class="govuk-grid-column-two-thirds">
        <p>
          Proving users' identities this way means the privacy of their data is protected to a high standard, because:
        </p>

        <ul class="govuk-list--bullet">
          <li>their data is not stored in one place</li>
          <li>your service does not know which identity provider they've chosen</li>
          <li>the identity provider does not know the user is trying to use your service</li>
        </ul>

        <p>After the user has proved their identity, your service will be sent their name, address and date of birth. You will not see any of the other information they sent the identity provider to prove their identity.</p>

        <p>
          The user can use the account they created with an identity provider to:
        </p>

        <ul class="govuk-list--bullet">
          <li>sign back in to your service at any time</li>
          <li>sign in to other government services that use GOV.UK Verify</li>
        </ul>
        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "level-of-assurance-complete",
              name: "level-of-assurance-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>
    </div>

  </main>
</div>

{% endblock %}
