{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Check if you need GOV.UK Verify</span>
          Find out if GOV.UK Verify is right for your service
        </h1>

        <p>
          Use GOV.UK Verify if your service:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            needs to legally confirm a user is who they say they are, for example if they’re signing a mortgage deed
          </li>
          <li>
            shows a user personal information about themselves, such as their driving licence or passport details
          </li>
          <li>
            pays money to a user
          </li>
          <li>
            gives the user something valuable, like a Blue Badge or council house
          </li>
          <li>
            replaces a form that needs to be physically signed by a user
          </li>
        </ul>

        <h2 class="govuk-heading-m">When you shouldn't use GOV.UK Verify</h2>
        <p>
          Don't use GOV.UK Verify if your service:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            receives payments from a user
          </li>
          <li>
            doesn't keep any personal information about a user
          </li>
          <li>
            needs a user to physically go somewhere (such as a court or Post Office) to prove their identity
          </li>
          <li>
            needs to recognise a returning user but not check their identity - your service should <a href="https://www.gov.uk/service-manual/design/user-accounts">let a user create an account</a> instead
          </li>
        </ul>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/get-started">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Get started</span>
                </a>
              </li>

              <li class="next">
                <a href="/check-if-you-need-verify/assurance">
                  <span class="title">
                    Next
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </span>
                  <span class="label">Choose the right level of assurance</span>
                </a>
              </li>
          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
