{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Find out if GOV.UK Verify is right for your service
        </h1>

        <p>
          You should use GOV.UK Verify if your service needs to check a user's identity.
        </p>

        <p>
          Your service might need to do this if it:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            shows a user personal information about themselves, such as their driving licence or passport details
          </li>
          <li>
            gives the user something valuable, such as money, benefits or a Blue Badge
          </li>
          <li>
            replaces a form that needs to be physically signed by a user
          </li>
        </ul>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            The Department for Work and Pensions (DWP) uses GOV.UK Verify to check the identities of users who <a href="https://www.gov.uk/universal-credit/how-to-claim">apply for Universal Credit</a>. This is because the service needs to be sure it pays the right person, and that no one else is trying to claim benefits in their name.
          </p>
          <p>
            GOV.UK Verify can check things like a user's bank account history or passport details. By using it in their service, DWP can be confident its users are who they say they are.
          </p>
        </div>

        <h2 class="govuk-heading-l">
          When you shouldn't use GOV.UK Verify
        </h2>

        <p>
          You shouldn't use GOV.UK Verify if your service needs to recognise returning users but not check their identities. Your service should <a href="https://www.gov.uk/service-manual/design/user-accounts">let the user create an account</a> instead.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            HM Courts and Tribunals Service lets a user create an account to <a href="https://www.gov.uk/tax-tribunal/appeal-to-tribunal">appeal to the tax tribunal</a> online. This is because the user might need to save their appeal and come back to it at a later date.
          </p>
          <p>
            The service uses user accounts because it just needs to remember the user is the same person who started the appeal. As the service doesn't need to know anything else about the user's identity, it doesn't need to use GOV.UK Verify.
          </p>
        </div>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "right-for-your-service-complete",
              name: "right-for-your-service-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/get-started">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Get started</span>
                </a>
              </li>

              <li class="next">
                <a href="/check-if-you-need-verify/assurance">
                  <span class="title">
                    Next
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </span>
                  <span class="label">Choose the right level of assurance</span>
                </a>
              </li>
          </ul>
        </nav>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 1 of 4: Check if you need GOV.UK Verify
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress
          </p>
          {% endif %}

          <p>
            <a href="../get-started">Go back to task list</a>
          </p>

        </aside>

      </div>

    </div>
  </main>
</div>

{% endblock %}
