{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Find out if GOV.UK Verify is right for your service
        </h1>

        <p>
          You should use GOV.UK Verify if your service needs to check a user's identity.
        </p>

        <p>
          Your service might need to do this if it:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            shows a user personal information about themselves, such as their driving licence or passport details
          </li>
          <li>
            gives the user something valuable, such as money, benefits or a Blue Badge
          </li>
          <li>
            needs a user to sign something
          </li>
        </ul>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            The Department for Work and Pensions (DWP) uses GOV.UK Verify to check the identities of users who <a href="https://www.gov.uk/universal-credit/how-to-claim">apply for Universal Credit</a>. This is because the service needs to be sure it pays the right person, and that no one else is trying to claim benefits in their name.
          </p>
          <p>
            GOV.UK Verify can check things like a user's bank account history or passport details. By using it in their service, DWP can be confident its users are who they say they are.
          </p>
        </div>

        <h2 class="govuk-heading-l">
          When GOV.UK Verify might not be right for your service
        </h2>

        <p>
          You might not need to use GOV.UK Verify if your service:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            receives payments from a user
          </li>
          <li>
            doesn't keep any personal information about a user
          </li>
          <li>
            needs a user to physically go somewhere (such as a court or Post Office) to prove their identity
          </li>
          <li>
            needs to recognise returning users but not check their identities - your service should <a href="https://design-system.service.gov.uk/patterns/create-accounts/">let the user create an account</a> instead
          </li>
        </ul>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            HM Courts and Tribunals Service lets a user create an account to <a href="https://www.gov.uk/tax-tribunal/appeal-to-tribunal">appeal to the tax tribunal</a> online. This is because the user might need to save their appeal and come back to it later.
          </p>
          <p>
            The service just needs to remember that the user is the same person who started the appeal. As it doesn’t need to know anything else about the user’s identity, the service can use user accounts instead of GOV.UK Verify.
          </p>
        </div>

        <p>
          Email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> if you need help deciding whether GOV.UK Verify is right for your service.
        </p>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "right-for-your-service-complete",
              name: "right-for-your-service-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 1 of 4: Check if you need GOV.UK Verify
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress.
          </p>
          {% endif %}

        </aside>

      </div>

    </div>
  </main>
</div>

{% endblock %}
