{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Check if you need GOV.UK Verify</span>
        <h1 class="govuk-heading-xl">Choose the right level of assurance</h1>

        <p class="govuk-body">
          You can choose how thorough you want your service's identity checks to be by picking a 'level of assurance'.
        </p>

        <p class="govuk-body">
          Which one you pick depends on:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            how confident your service needs to be that a user is who they say they are
          </li>
          <li>
            how much money your organisation could lose or how much damage could be done to its reputation if your service is threatened or attacked
          </li>
        </ul>

          <p class="govuk-body">
            To help make your choice, you should also think about:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              how many users can use your service and how well-known it is - popular services are more likely to be threatened or attacked
            </li>
            <li>
              if your service has been targeted by fraud or cyber crime in the past
            </li>
            <li>
              what harm a user could do if they impersonated someone else to use your service
            </li>
          </ul>

            <h2 class="govuk-heading-m">
              Level 1
            </h2>

            <p class="govuk-body">
              Level 1 is suitable for most services that give users access to personal information.
            </p>

            <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
              <p>
                <span>Example</span>
                The Driver and Vehicle Licensing Agency (DVLA) use level 1 in their <a href="https://www.gov.uk/view-driving-licence">view driving licence information</a> service. This is because users can get information from this service, but not use it to apply for anything more valuable or change their details.
              </p>
              <p>
                If a user impersonated someone else to use this service, they wouldn't be able to do anything to harm that person.
              </p>
            </div>

            <h2 class="govuk-heading-m">
              Level 2
            </h2>

            <p class="govuk-body">
              Level 2 will let you carry out more thorough identity checks. You should use level 2 if:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>
                your service gives users benefits or money
              </li>
              <li>
                your service lets users update information about themselves
              </li>
              <li>
                you need to be able to take users to court if they fraudulently use your service
              </li>
            </ul>

              <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
                <p>
                  <span>Example</span>
                  The Department for Business, Energy and Industrial Strategy (BEIS) use level 2 in their <a href="https://www.gov.uk/claim-redundancy">claim for redundancy and monies owed</a> service. This is because users can get money from this service.
                </p>
                <p>
                  If a user impersonated someone else to use this service, they could get money they're not entitled to. This could also stop the real user from being paid money they're owed.
                </p>
              </div>

              <h2 class="govuk-heading-m">
                What different levels of assurance mean for your users
              </h2>

              <p class="govuk-body">
                What users need to do to sign up to use your service will depend on which level of assurance you choose.
              </p>

              <table class="govuk-table">
                <col width="33%">
                <col width="33%">
                <col width="33%">
                <caption class="govuk-table__caption"></caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"></th>
                    <th class="govuk-table__header" scope="col">Level 1</th>
                    <th class="govuk-table__header" scope="col">Level 2</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Average time it takes to sign up to GOV.UK Verify</th>
                    <td class="govuk-table__cell ">5 minutes</td>
                    <td class="govuk-table__cell ">15 minutes</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Documents they need</th>
                    <td class="govuk-table__cell ">None</td>
                    <td class="govuk-table__cell ">Driving licence or passport. They might also need financial documents (such as a bank or credit card statement).</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Devices they need</th>
                    <td class="govuk-table__cell ">Mobile phone</td>
                    <td class="govuk-table__cell ">Mobile phone</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">What percentage of the population can be verified at this level</th>
                    <td class="govuk-table__cell ">XX%</td>
                    <td class="govuk-table__cell ">XX%</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Success rate across all services that verify users at this level</th>
                    <td class="govuk-table__cell ">XX%</td>
                    <td class="govuk-table__cell ">XX%</td>
                  </tr>
                </tbody>
              </table>

              <div class="govuk-!-mt-r5 govuk-!-mb-r0">
                <a href="/get-started">Return to overview</a>
              </div>

    </div>
  </main>
</div>

{% endblock %}
