.certificate-details {
  font-size: 0;
  margin-bottom: 25px;

  dd {
    @extend %govuk-body-s;
    margin: 0 8px 0 0;
    padding: 3px 8px 2px;
    display: inline;
    background-color:  govuk-colour("grey-3");
  }

}
