{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-l">
          Create an account
        </h1>

        {% from "input/macro.njk" import govukInput %}

        {{ govukInput({
          "label": {
            "text": "Email",
            "hintText": "Must be from a government organisation"
          },
          classes: "govuk-!-width-two-thirds",
          id: "email-address",
          name: "email-address"
        }) }}

        {{ govukInput({
          "label": {
            "text": "Password",
            "hintText": "Must be at least 10 characters"
          },
          classes: "govuk-!-width-two-thirds",
          id: "password",
          name: "password"
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          "text": "Continue",
          "href": "service-details"
        }) }}

      </div>
    </div>
  </main>
</div>

{% endblock %}
