{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Connect to Verify
        </h1>

        <!-- <p class="govuk-body">
          Maybe link to tech docs?
        </p> -->

        <ol class="instruction-list steps">
      		<li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">1.</span>Set up connection</h2>
      			<p class="instruction-list-item-top">Before you can connect to integration, you must complete:</p>
      			<ul class="instruction-list-item-top">
      				<li>
      					<span class="tick"><img alt="done" height="14" src="/public/images/tick.svg" width="15"></span>
                <a href="#">Download and configure the Matching Service Adapter</a>
      				</li>
      				<li>
      					<a href="#">Create Local Matching Service</a>
      				</li>
      				<li>
      					<a href="#">Run compliance tool tests</a>
      				</li>
              <li>
      					<a href="#">Run matching service tool tests</a>
      				</li>
              <li>
      					<a href="#">Get certificates for Public Key Infrastructure</a>
      				</li>
      			</ul>
      		</li>
          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">2.</span>Connect to integration</h2>
      			<p class="instruction-list-item-top">Before you can connect to production, you must complete:</p>
      			<ul class="instruction-list-item-top">
      				<li>
                <a href="#">Get access to integration environment</a>
      				</li>
      				<li>
      					<a href="#">Configure Matching Service Adapter to connect to integration</a>
      				</li>
      				<li>
      					<a href="#">Configure the service to connect with integration components</a>
      				</li>
              <li>
      					<a href="#">Run integration tests</a>
      				</li>
      			</ul>
      		</li>
          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">3.</span>Connect to production</h2>
      			<ul class="instruction-list-item-top">
      				<li>
                <a href="#">Get access to production environment</a>
      				</li>
      				<li>
      					<a href="#">Configure Matching Service Adapter to connect to production</a>
      				</li>
      				<li>
      					<a href="#">Configure the service to connect with production components</a>
      				</li>
      			</ul>
            <p class="instruction-list-item-top">Before going live:</p>
            <ul class="instruction-list-item-top">
      				<li>
                <a href="#">Sign a memorandum of understanding</a>
      				</li>
      				<li>
      					<a href="#">Pay for using GOV.UK Verify</a>
      				</li>
      			</ul>
      		</li>
      	</ol>




      </div>
    </div>
  </main>
</div>

{% endblock %}
