{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      },
      {
        "text": "Match verified identities with existing data",
        "href": "/matching/match-identities"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Do you have access to an existing database that contains information about your users?
        </h1>

        <p class="govuk-body">
          The database must include each user's:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>date of birth</li>
        </ul>

        <p class="govuk-body">
          It can be easier to find a match if the database also includes the user’s address.
        </p>

        <div class="govuk-!-pb-r3"></div>

  <form class="form" action="/existing-database-answer" method="post">

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="existing-database" name="existing-database" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="existing-database">
          Yes
      </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="existing-database" name="existing-database" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="existing-database">
        No
      </label>
      </div>
    </div>

          <input class="govuk-button govuk-!-mt-r5" type="submit" value="Continue">

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
