{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
      "items": [
        {
          "text": "Components",
          "href": "#"
        },
        {
          "text": "GOV.UK Verify",
          "href": "https://connect-to-verify-start.herokuapp.com/verify"
        },
        {
          "text": "Get started",
          "href": "/get-started"
        }
      ]
    }) }}



  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Build your service</span>
          Match verified identities with existing data
        </h1>

        <p class="govuk-body">
          After a user has been verified by a certified company, your service will be sent their:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>address</li>
          <li>date of birth</li>
          <li>unique ID - this is created by the certified company</li>
        </ul>

        <p class="govuk-body">
          You can use this information to match their identity to an existing record in a database you have access to. Doing this helps you to be sure that the user who's trying to use your service is the same user you already have on file.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p class="govuk-body">
            <span>Example</span>
            When a user <a href="https://www.gov.uk/view-driving-licence">views their driving licence information</a>, the Driver and Vehicle Licensing Agency (DVLA) will match their details to a record in their database of people with driving licences.</p>
            <p>
              By doing this they can be sure the service shows the right driving licence details for that person.
          </p>
        </div>

        <p class="govuk-body">
          If you don't have access to an existing database, you can use the information provided by the certified company to create a new record for the user.
        </p>

        <a href="existing-database" role="button" class="govuk-button">
          Continue
        </a>

      </div>
    </div>

  </main>
</div>

{% endblock %}
