{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      },
      {
        "text": "Match verified identities with existing data",
        "href": "/matching/match-identities"
      },
      {
        "text": "Before you create a matching service",
        "href": "/matching/result"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-l">
          Decide how you’ll match identities with records
        </h1>

        <p class="govuk-body">
          You need to decide how your service will match identities with records, as well as what counts as a successful match.
        </p>

        <p class="govuk-body">
          You also need to decide what happens when:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an identity is successfully matched to a record in your database</li>
          <li>an identity is matched to more than one record in your database</li>
          <li>no match is found</li>
        </ul>

        <p class="govuk-body">
          This is known as <a href=http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/matchingstrategy.html>deciding a matching strategy</a>.
        </p>

        <p class="govuk-body">
          It's possible an identity that's been verified by a certified company will be slightly different to a record in the database. You should also look for records that are a close match and decide what you'll do with them.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            Jonathan McDonald is successfully verified by a certified company. The service he wants to use tries to match this verified identity against a record in their database.</p>
            <p>The only record they find is for a Johnathan MacDonald. This is the same user, but the identity and record don't match because their name is spelt differently.</p>
            <p>There are often spelling mistakes in this particular database because the data is collected over the phone. The service applies <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/matchingstrategy.html#decide-rules-for-matching-and-confidence-scores">'fuzzy matching'</a> rules to decide Jonathan McDonald is the same person as the Johnathan MacDonald in the database.</p>
            <p>This match is successful and Jonathan McDonald can continue to use the service.
          </p>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 3 of 4: Build your service
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress.
          </p>
          {% endif %}

          <p>

          </p>


        </aside>

      </div>
    </div>
  </main>
</div>

{% endblock %}
