{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Create new records for users
        </h1>

        <p class="govuk-body">
          You can choose to <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/createnewaccounts.html">create a new record for a user</a> in a database. You might want to do this if:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>you don't currently have access to a database but want to collect information to build one</li>
          <li>you've run all 3 matching cycles but still haven't found a record that matches the user's identity</li>
        </ul>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
            <li class="next">
              <a href="/matching/outcome-2-how-matches-are-found">
                <span class="title">
                  Next
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                <span class="label">Find out how identities are matched
              </a>
            </li>

          </ul>
        </nav>

          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
