{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      },
      {
        "text": "Match verified identities with existing data",
        "href": "/matching/match-identities"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-l">
          How to match identities with records
        </h1>

        <p class="govuk-body">
          You must create a matching service to match verified identities with records in your database.
        </p>

        <p class="govuk-body">
          The matching service does this by following the rules you set when you decided your matching strategy. It also sends any results to GOV.UK Verify.
        </p>

        <a class="govuk-button govuk-!-mt-r5" href="/build-your-service/create-matching-service">Continue to create a matching service</a>

      </div>

    </div>
  </main>
</div>

{% endblock %}
