{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-l">
          How to match identities with records
        </h1>

        <p class="govuk-body">
          You must <a href="/build-your-service/create-matching-service">create a matching service</a> to match verified identities with records in your database.
        </p>

        <p class="govuk-body">
          The matching service does this by following the rules you set when you decided your matching strategy. It also sends any results to GOV.UK Verify.
        </p>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
            <li class="previous">
              <a href="/matching/outcome-1-how-matches-are-found">
                <span class="title">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                </span>
                <span class="label">How matches are found</span>
              </a>
            </li>

          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
