{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-l">
          Create a matching service
        </h1>

        <p class="govuk-body">
          You need a matching service to tell GOV.UK Verify you haven't matched a verified identity with an existing record.
        </p>

        <p class="govuk-body">
          To create a matching service, you need to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>build a local matching service</li>
          <li>install the Matching Service Adapter</li>
        </ul>

        <p class="govuk-body">
          The local matching service tells the Matching Service Adapter that a match can't be found. The Matching Service Adapter sends this result to GOV.UK Verify.
        </p>

        <img src="../public/images/verify-build-matching.svg" alt="" class="diagram">

        <h2 class="govuk-heading-m">
          Build a local matching service
        </h2>

        <p class="govuk-body">
          You must build your own local matching service and host it on your own infrastructure.
        </p>

        <ol class="govuk-list govuk-list--number">
          <li>See an <a href="https://github.com/alphagov/verify-local-matching-service-example">example local matching service</a> to find out how it should work.</li>
          <li>Build your local matching service. It must be able to <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/buildmatchingservice.html#respondjsonmr">respond to JSON matching requests</a>.</li>
          <li><a href="https://github.com/alphagov/verify-matching-service-adapter/tree/master/verify-matching-service-test-tool">Use the matching service test tool</a> to check it can find and match records.</li>
        </ol>

        <p class="govuk-body">
          <a href="https://support-form.cloudapps.digital/support">Contact the GOV.UK Verify team</a> if you need help building your local matching service.
        </p>

        <h2 class="govuk-heading-m">
          Install the Matching Service Adapter
        </h2>

        <p class="govuk-body">
          <a href="https://github.com/alphagov/verify-matching-service-adapter">Download the Matching Service Adapter</a> and follow the instructions on how to install and configure it. You must host the Matching Service Adapter on your own infrastructure.
        </p>

        <h2 class="govuk-heading-m">
          Test your matching service
        </h2>

        <p class=govuk-body>
          Use the <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/testmatching.html#testmatching">Compliance Tool</a> to test that your matching service works properly.
        </p>

      </div>

    </div>
  </main>
</div>

{% endblock %}
