{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      },
      {
        "text": "Match verified identities with existing data",
        "href": "/matching/match-identities"
      },
      {
        "text": "Before you create a matching service",
        "href": "/matching/result"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-l">
          How to match identities with records
        </h1>

        <p class="govuk-body">
          You must create a matching service to match verified identities with records in your database.
        </p>

        <p class="govuk-body">
          The matching service does this by following the rules you set when you decided your matching strategy. It also sends any results to GOV.UK Verify.
        </p>

      </div>
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 3 of 4: Build your service
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress.
          </p>
          {% endif %}
          <p>
          </p>
        </aside>

      </div>
    </div>
  </main>
</div>

{% endblock %}
