{% extends "layout.html" %}

{% block page_title %}
  Connect to Verify
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-l">
          You need to create a matching service
        </h1>

        <p class="govuk-body">
          You need to tell GOV.UK Verify your service hasn't matched a verified identity with an existing record.
        </p>

        <p class="govuk-body">
          You must <a href="/build-your-service/create-matching-service">create a matching service</a> to do this.
        </p>


    </div>
  </main>
</div>

{% endblock %}
