{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      },
      {
        "text": "Get certificates",
        "href": "certificates"
      },
      {
        "text": "Send certificate signing requests",
        "href": "certificates-send"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Upload encryption certificate for your service
        </h1>

        <form action="certificates-signing-service" method="post">

          {% from "file-upload/macro.njk" import govukFileUpload %}

          {{ govukFileUpload({
            id: 'encryption-cert-service',
            name: 'encryption-cert-service',
            label: {
              text: 'Upload a .csr file'
            }
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
