{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      },
      {
        "text": "Get access to Integration environment",
        "href": "integration-overview"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Encryption certificate for your service
        </h1>

        <p>
          You need to <a href="/build-your-service/self-signed-certificates">create a self-signed certificate</a> to connect your service to Integration.
        </p>

        <form action="integration-certificates-signing-service" method="post">

          {% from "file-upload/macro.njk" import govukFileUpload %}

          {{ govukFileUpload({
            id: 'int-encryption-cert-service',
            name: 'int-encryption-cert-service',
            label: {
              text: 'Upload a .csr file'
            }
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
