{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Get access to Integration environment
        </h1>

        <p>
          Give details about your setup so that we can connect you to the Integration environment. Integration allows you to test your prototype service with dummy user data.
        </p>

        <p>
          You can create multiple connections to Integration for different environments.
        </p>

      </div>

      <div class="govuk-grid-row__item govuk-grid-column-full">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Entity ID</td>
              <td class="govuk-table__cell ">
                {% if data['entity-id'] %}
                 {{data['entity-id']}}
                {% else %}
                  <a href="integration-entity-id">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['entity-id'] %}
                 <a href="integration-entity-id">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Start page URL</td>
              <td class="govuk-table__cell ">
                {% if data['start-page-url'] %}
                 {{data['start-page-url']}}
                {% else %}
                  <a href="integration-start-page-url">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['start-page-url'] %}
                 <a href="integration-start-page-url">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">SAML response URL</td>
              <td class="govuk-table__cell ">
                {% if data['saml-response-url'] %}
                 {{data['saml-response-url']}}
                {% else %}
                  <a href="integration-saml-response-url">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['saml-response-url'] %}
                 <a href="integration-saml-response-url">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Matching URL</td>
              <td class="govuk-table__cell ">
                {% if data['matching-url'] %}
                 {{data['matching-url']}}
                {% else %}
                  <a href="integration-matching-url">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['matching-url'] %}
                 <a href="integration-matching-url">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">User account creation URL</td>
              <td class="govuk-table__cell ">
                {% if data['user-account-url'] %}
                 {{data['user-account-url']}}
                {% else %}
                  <a href="integration-user-account-url">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['user-account-url'] %}
                 <a href="integration-user-account-url">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Encryption certificate for your service</td>
              <td class="govuk-table__cell ">
                {% if data['int-encryption-cert-service'] %}
                  {{data['int-encryption-cert-service']}}
                {% else %}
                  <a href="integration-certificates-encryption-service">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['int-encryption-cert-service'] %}
                 <a href="integration-certificates-encryption-service">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Signing certificate for your service</td>
              <td class="govuk-table__cell ">
                {% if data['int-signing-cert-service'] %}
                  {{data['int-signing-cert-service']}}
                {% else %}
                  <a href="integration-certificates-signing-service">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['int-signing-cert-service'] %}
                 <a href="integration-certificates-signing-service">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Encryption certificate for your Matching Service Adapter</td>
              <td class="govuk-table__cell ">
                {% if data['int-encryption-cert-msa'] %}
                  {{data['int-encryption-cert-msa']}}
                {% else %}
                  <a href="integration-certificates-encryption-msa">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['int-encryption-cert-msa'] %}
                 <a href="integration-certificates-encryption-msa">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell first" scope="row">Signing certificate for your Matching Service Adapter</td>
              <td class="govuk-table__cell ">
                {% if data['int-signing-cert-msa'] %}
                  {{data['int-signing-cert-msa']}}
                {% else %}
                  <a href="integration-certificates-signing-msa">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-table__cell action">
                {% if data['int-signing-cert-msa'] %}
                 <a href="integration-certificates-signing-msa">Edit</a>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        <form action="integration-requested" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            "label": {
              "text": "integration-complete",
              "classes": "visually-hidden"
            },
            classes: "visually-hidden",
            id: "integration-complete",
            "value": "true",
            name: "integration-complete"
          }) }}


          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            "text": "Get access"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
