{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      },
      {
        "text": "Get access to Production environment",
        "href": "production-overview"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Entity ID
        </h1>

        <p>
          Your entity ID must be a globally unique URL. We use this to identify your specific service.
        </p>

        <p>
          Please make your entity ID descriptive, by including the name of your service and department. For example <code class="code">https://{your-service-name}.{your-department}.gov.uk/{production}</code>
        </p>

        <form action="production-start-page-url" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            "label": {
              "text": "Connection name",
              "classes": "visually-hidden"
            },
            value: data['prod-entity-id'],
            id: "prod-entity-id",
            name: "prod-entity-id"
          }) }}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
