{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content">
      <span class="govuk-c-phase-banner__text">
        {{ data["name-of-service"] }} <a class="govuk-link" href="https://connect-to-verify-start.herokuapp.com/verify">Sign out</a>
      </span>
    </p>
  </div>
  <a href="../tech-task-list" class="govuk-c-back-link">Back</a>

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Why does your service need to verify users’ identities?
        </h1>

        <p>This will be displayed to users at the start of the Verify journey.</p>

        <form action="service-content-overview" method="post">

          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            "name": "hub-page",
            "value": data['hub-page'],
            "id": "hub-page",
            "label": {
              "text": "",
              "hintText": "For example, “DVLA uses Verify to help prevent other people from accessing your driving licence information, as it stops someone from pretending to be you.”"
            }
          }) }}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
