{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Sign and return a memorandum of understanding
        </h1>

        <p>
          Before a service can go live, your organisation needs to sign GOV.UK Verify’s Memorandum of Understanding and your team needs to agree to our Terms of Use.
        </p>

        <ul class="govuk-list">
          <li><a href="https://www.gov.uk/government/publications/govuk-verify-code-of-interoperability/govuk-verify-code-of-interoperability-june-2017">Read the terms of use</a></li>
          <li><a href="#">Download the Memorandum of Understanding</a></li>
        </ul>

        <h2 class="govuk-heading-m">Return your signed memorandum of understanding</h2>

        <p>The memorandum of understanding should be signed by the person responsible for your service, for example, a service owner or product manager.</p>

        <form action="../tech-task-list" method="post">

          {% from "file-upload/macro.njk" import govukFileUpload %}

          {{ govukFileUpload({
            id: 'encryption-cert-service',
            name: 'encryption-cert-service',
            label: {
              text: 'Upload image files'
            }
          }) }}

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            id: "agreement-sent",
            name: "agreement-sent",
            value: "true",
            classes: "visually-hidden"
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            "text": "Upoad and send"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
