{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      },
      {
        "text": "Test your service with your users",
        "href": "/design_and_build/test_with_users"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper govuk-body">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-l">
          Create a prototype link
        </h1>

        <p>
          Create a reusable link to integrate your service prototype with GOV.UK Verify and test with users.
        </p>

        <form action="your_link" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            "label": {
              "text": "Service name",
              "hintText": "The name of your service as it appears to users, for example ‘Check your State Pension’",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-service-name'],
            id: "proto-service-name",
            name: "proto-service-name"
          }) }}


          {{ govukInput({
            "label": {
              "text": "Organisation",
              "hintText": "What users call your organisation, for example ‘Department for Work and Pensions’",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-org-name'],
            id: "proto-org-name",
            name: "proto-org-name"
          }) }}


          {{ govukInput({
            "label": {
              "text": "Confirmation page",
              "hintText": "The URL of the page in your prototype where users are sent once they're verified",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-url'],
            id: "proto-url",
            name: "proto-url"
          }) }}


          {{ govukTextarea({
            "label": {
              "text": "Other ways to access the service",
              "hintHtml": "Describe how users can access your service if they cannot prove their identity using GOV.UK Verify - <a href='example?bannerText=Example of a GOV.UK Verify unsuccessful page&guidanceText=&returnText=Return to Create a prototype link&goBackURL=edit&exampleURL=/design_and_build/unsuccessful'>see an example of how this will be used</a>",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-other-ways'],
            id: "proto-other-ways",
            name: "proto-other-ways"
          }) }}

          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "idPrefix": "proto-loa",
            "name": "proto-loa",
            "fieldset": {
              "legendHtml": '<label class="govuk-body">Level of assurance</label>',
              "legendHintHtml": "Find out more about the <a href ='/check_i_need_verify/assurance'> different levels of assurance</a>"
            },
            "items": [
              {
                "value": "Level 1",
                "text": "Level 1"
              },
              {
                "value": "Level 2",
                "text": "Level 2"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>

      </div>

    </div>
  </main>
</div>

{% endblock %}
