{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      },
      {
        "text": "Design your service",
        "href": "/design_and_build/index"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper govuk-body">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Setup your link to the GOV.UK&nbsp;Verify prototype</h1>

        <p>Create a reusable link to use GOV.UK Verify in prototype.</p>

        <a href="/design_and_build/your_link" class="govuk-body">Save</a>


      </div>

    </div>
  </main>
</div>

{% endblock %}
