{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      },
      {
        "text": "Design your service",
        "href": "/design_and_build/index"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper govuk-body">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Setup your link to the GOV.UK&nbsp;Verify prototype</h1>

        <p>Create a reusable link to use GOV.UK Verify in prototype.</p>

        <form action="your_link" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            "label": {
              "text": "Service name",
              "hintText": "What you call your service when you’re talking to users, for example ‘Check your State Pension’.",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-service-name'],
            id: "proto-service-name",
            name: "proto-service-name"
          }) }}


          {{ govukInput({
            "label": {
              "text": "Organisation",
              "hintText": "What users call your organisation, for example ‘Department for Work and Pensions’.",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-org-name'],
            id: "proto-org-name",
            name: "proto-org-name"
          }) }}


          {{ govukInput({
            "label": {
              "text": "Service ‘verified’ page URL",
              "hintText": "Users are sent here after successful verification, for example ‘https://prototype.service.com/verified’.",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-url'],
            id: "proto-url",
            name: "proto-url"
          }) }}


          {{ govukTextarea({
            "label": {
              "text": "Other ways to access this service",
              "hintHtml": "Describe how users can access your service if they fail to prove their identity using GOV.UK Verify. This could be an online or offline channel. <a href='/design_and_build/unsuccessful'>View an example unsuccessful verification page</a> to see where this text is used.",
              "classes": "govuk-!-width-two-thirds"
            },
            classes: "govuk-!-width-two-thirds",
            value: data['proto-other-ways'],
            id: "proto-other-ways",
            name: "proto-other-ways"
          }) }}


          {% from 'radios/macro.njk' import govukRadios %}

          {{ govukRadios({
            "idPrefix": "proto-loa",
            "name": "proto-loa",
            "fieldset": {
              "legendHtml": '<label class="govuk-body">Level of assurance</label>',
              "legendHintHtml": "The level of assurance you choose depends on how confident you need to be that your users are who they say they are. Find out more about the <a href ='/check_i_need_verify/assurance'> different levels of assurance</a>."
            },
            "items": [
              {
                "value": "Level 1",
                "text": "Level 1"
              },
              {
                "value": "Level 2",
                "text": "Level 2"
              }
            ]
          }) }}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>

      </div>

    </div>
  </main>
</div>

{% endblock %}
