{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-xl">Design and test your service using GOV.UK Verify</h1>

        <p class="govuk-body">
          Find out how to design your service to work with GOV.UK Verify.
        </p>

        <h2 class="govuk-heading-m">Where GOV.UK Verify fits in your service’s user journey</h2>

        <img src="../public/images/verify-journey.png" alt="">

        <ul class="govuk-list govuk-list--number">
          <li>
            You should send the user to GOV.UK Verify at the point when you need to check who they are.
          </li>
          <li>
            GOV.UK Verify will ask the user to choose a certified company. The certified company will verify the user’s identity and send them back to your service.
          </li>
          <li>
            The user can then continue to use your service. You’ll have access to the user’s name, address and date of birth.
          </li>
        </ul>

        <p class="govuk-body">
          You can see how GOV.UK Verify works with a <a href="https://govuk-verify-loa1.herokuapp.com/start-view-share-driving-licence?requestId=view-share-driving-licence">LOA 1 service</a> and <a href="https://govuk-verify.herokuapp.com">LOA 2 service</a>.
        </p>


        <h3 class="govuk-heading-m">If a user can’t be verified</h3>
        <p class="govuk-body">
          You need to give the GOV.UK Verify team information about any other ways users can complete the service, for example by post or by phone. GOV.UK Verify will show this information to a user if their identity can’t be checked by a certified company.
        </p>

        <h3 class="govuk-heading-m">Customise the content on GOV.UK Verify</h3>
        <p class="govuk-body">
          You will be able to add specific content that will be displayed during the user’s journey on GOV.UK Verify.</p>

        <p class="govuk-body">You’ll need to be able to say:
        </p>
        <ul class="govuk-list--bullet govuk-body">
          <li>why your service needs to verify users’ identities</li>
          <li>what other ways users can complete the transaction</li>
        </ul>

        <h2 class="govuk-heading-m">Test with your users</h3>

        <p class="govuk-body">If a user can’t successfully verify they’ll need to be able to send you additional identification.</p>

        <p class="govuk-body">
          <a href="/design_and_build/before_you_create">Create a reusable link</a> to integrate your service prototype with GOV.UK Verify and test with users.
        </p>

        <h2 class="govuk-heading-m">Assessing your service</h3>

        <p class="govuk-body">
          If your service isn’t being assessed by GDS, you’ll still need to <a href="#">share how GOV.UK Verify fits in your service</a>. This is to check there aren’t any security issues with the way you’ve built your service.
        </p>


        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/check_i_need_verify/assurance">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Choose your level of assurance</span>
                </a>
              </li>

              <li class="next">
                <a href="/before_you_connect/index">
                  <span class="title">
                    Next
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </span>
                  <span class="label">Build your service</span>
                </a>
              </li>
          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
