{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-xl">Design your service to work with GOV.UK Verify</h1>
        
        <h2 class="govuk-heading-l">The GOV.UK Verify user journey</h2>
        
        <ul class="govuk-list govuk-list--number">
          <li>Your service sends it’s user’s to GOV.UK Verify.</li>
          <li>They choose who checks their identity.</li>
          <li>Once they’ve been checked GOV.UK Verify returns them to your service. You can access their name, date of birth and address.
          </li>
        </ul>

        <ul class="govuk-list">
          <a href="https://govuk-verify-loa1.herokuapp.com/start-view-share-driving-licence?requestId=view-share-driving-licence">View the journey for a low risk service</a><br>
          <a href="https://govuk-verify.herokuapp.com">View the journey for a higher risk service</a>
        </ul>


        <h3 class="govuk-heading-s">Services that need additional assurance</h3>
        <p class="govuk-body">Some services, for example, ‘Get a Passwort’ need to be more certain the user is who they say they are. Something about how to get to a higher level of assurance and maybe examples.</p>


        <h3 class="govuk-heading-s">When a user can’t be successfully verified</h3>

        <p class="govuk-body">If a user can’t successfully verify they’ll need to be able to send you additional identification.</p>
        <ul class="govuk-list">
          <a href="https://govuk-verify.herokuapp.com/fail?driving_licence_issuer=waste-animal&requestId=view-share-driving-licence-loa2&registration=true&user_age=true&user_uk=true&driving_licence=true&passport=true&mobile_phone=true&apps=true&idp=post-office&driving_licence_done=true&passport_done=true&idTest3=Le&radio-group=Post%20Office&id-test-credit-limit=a&kbvs_done=true" class="govuk-body">View an example</a> for when a user has not been successfully verified.
        </ul>


        <br>
        <h2 class="govuk-heading-l">Prototype your service with <br>GOV.UK Verify </h2>
        <ul class="govuk-list">
          <a href="#">Use GOV.UK Verify in a prototype</a>
        </ul>
        <br>
        <h2 class="govuk-heading-l">Next steps</h2>
        <ul class="govuk-list">
          <p class="govuk-body">
            If you’re aren’t going to have a service assessment you must <a href="#">share how you’ve designed your service with GOV.UK Verify</a> so we can make sure ther aren’t any security issues.
          </p>
          
        </ul>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/check_i_need_verify/assurance">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Check your level of assurance</span>
                </a>
              </li>

              <li class="next">
                <a href="/before_you_connect/index">
                  <span class="title">
                    Next
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </span>
                  <span class="label">Building your service</span>
                </a>
              </li>
          </ul>
        </nav>

      </div>
      
    </div>
  </main>
</div>

{% endblock %}
