{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      },
      {
        "text": "Design and test your service using GOV.UK Verify",
        "href": "/design_and_build/index"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper govuk-body">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

    
        <h1 class="govuk-heading-xl">Barclays was unable to verify your identity</h1>

        <p>There are a few reasons why this might happen, including:</p>

        <ul class="govuk-list--bullet">
          <li>your answer to a question doesn't match records</li>
          <li>Barclays does not have access to enough information about you</li>
          <li>you've recently had a change in your circumstances, and they are not up to date online</li>
        </ul>

        <h2 class="govuk-heading-m">What to do next</h2>

        <p>
          </p><details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><a href=""><span class="summary">View other ways to view or share your driving licence information</span></a></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <div><br><h3 class="govuk-heading-s">Apply by phone</h3>
          <ul class="govuk-list">
            <li>0300 083 0013</li>
            <li>Monday to Friday, 8am to 7pm</li>
            <li>Saturday, 8am to 2pm</li>
            <li><a href="#">Find out about call charges</a></li>
          </ul>

          <h3 class="govuk-heading-s">Apply by post</h3>
          <p>You can either send a request form or a letter with the following information to the DVLA:</p>
          <ul class="govuk-list--bullet">
            <li>your full name and address</li>
            <li>your driver licence number (or your date of birth if you don’t know your driver number)</li>
          </ul>

          <p>Send your request to:</p>
          <ul class="govuk-list">
            <li>Driver Licence Validation Service </li>
            <li>DVRE </li>
            <li>DVLA </li>
            <li>Swansea </li>
            <li>SA99 1AJ </li>
          </ul></div>
            </div>
          </details>
        <p></p>
        

        

        <p>
          </p><details role="group">
            <summary role="button" aria-controls="details-content-1" aria-expanded="false"><a href=""><span class="summary">Contact Barclays</span></a></summary>
            <div class="panel panel-border-narrow" id="details-content-1" aria-hidden="true">
                <p>identityservicesupport@barclays.com</p>
                <p>Telephone: 0800 052 1051<br>Monday to Friday, 8am to 7pm<br>Saturday, 8am to 4pm
                <br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
              </p>
            </div>
          </details>
        <p></p>
        <p>
          </p><details role="group">
            <summary role="button" aria-controls="details-content-2" aria-expanded="false"><a href=""><span class="summary">Try verifying with another certified company</span></a></summary>
            <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
              <p>Other companies use different methods from Barclays and may therefore stand a better chance of verifying your identity.</p>
              <p><a href="/about-choosing-a-company?requestId=view-share-driving-licence-loa2&amp;registration=true&amp;above_age_threshold=true&amp;resident_last_12_months=true&amp;userLOA=">Find another company to verify you</a></p>
            </div>
          </details>


        

    
      </div>
    </div>

  </main>
</div>

{% endblock %}