{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      },
      {
        "text": "Design your service",
        "href": "/design_and_build/index"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Your link to the GOV.UK&nbsp;Verify prototype</h1>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--full">
        {% from "table/macro.njk" import govukTable %}

        {{ govukTable({
          "caption": "",
          "firstCellIsHeader": true,
          "head": [
            {
              "text": ""
            },
            {
              "text": ""
            }
          ],
          "rows": [
            [
              {
                "text": "Your link"
              },
              {
                "text": "http://verify-prototype/"+data['proto-service-name']
              }
            ],
            [
              {
                "text": "Level of assurance"
              },
              {
                "text": data['proto-loa']
              }
            ],
            [
              {
                "text": "Service"
              },
              {
                "text": data['proto-service-name']
              }
            ],
            [
              {
                "text": "Organisation"
              },
              {
                "text": data['proto-org-name']
              }
            ],
            [
              {
                "text": "Other ways to access this service"
              },
              {
                "text": data['proto-other-ways']
              }
            ],
            [
              {
                "text": "Points to"
              },
              {
                "text": data['proto-url']
              }
            ]
          ]
        }) }}

        <p class="govuk-body"><a href="/design_and_build/edit" class="govuk-body">Edit your link’s details</a></p><br>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        
        <h2 class="govuk-heading-m">Save this page</h2>
        <p class="govuk-body">You’ll need to save the URL for this page to make changes to your link. Anyone with the URL for this page can make chanes to your link.</p>

        <a href="t" id="bookmark-this" class="govuk-body">Bookmark this page</a><br>
        <a href="" class="govuk-body">Email a link to this page</a>

        <br>
      </div>

    </div>
  </main>
</div>

{% endblock %}
