{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Before you start
    </h1>

    <p>
      To update your encryption certificate:
    </p>

    <ul class="govuk-list govuk-list--number">
      <li>Create a new encryption certificate and key.</li>
      <li>Deploy the new encryption key to your Matching Service Adapter. If your service supports dual running, you should also deploy a secondary encryption key.</li>
      <li>Upload your new encryption certificate for your Matching Service Adapter to the GOV.UK Verify Service Admin tool.</li>
    </ul>

    {% from "warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "If you do not do deploy your encryption key before uploading your encryption certificate, your service will be disconnected from GOV.UK Verify.",
      iconFallbackText: "Warning"
    }) }}

    <p>
      For more information, read the guidance on <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/#rotate-your-msa-encryption-key">rotating your MSA encryption key</a>.
    </p>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "input/macro.njk" import govukInput %}

    <form action="upload-cert-msa-encryption">

      {{ govukButton({
        text: "I have deployed the encryption key"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
