{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <dl class="certificate-details">
      <dt class="govuk-visually-hidden">Environment</dt>
      <dd>Production</dd>
      <dt class="govuk-visually-hidden">Component</dt>
      <dd>MSA</dd>
      <dt class="govuk-visually-hidden">Certificate</dt>
      <dd>Encryption certificate</dd>
    </dl>

    <h1 class="govuk-heading-l">
      Before you start
    </h1>

    <p>
      You need to do 2 things before you replace your Matching Service Adapter (MSA) certificate.
    </p>

    <ul class="govuk-list govuk-list--number">
      <li>Create a new key and certificate.</li>
      <li>Add your new encryption key and certificate to your MSA configuration.</li>
    </ul>

    <p>
      There is guidance on <a href="https://prototype-docs.cloudapps.digital/maintain-your-connection/msa/#update-the-encryption-key-and-certificate">updating your MSA encryption key and certificate</a>.
    </p>

    {% from "warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "You must update your MSA configuration before going to the next step, or your service's connection to GOV.UK Verify will break.",
      iconFallbackText: "Warning"
    }) }}



    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "input/macro.njk" import govukInput %}

    <form action="upload-cert-msa-encryption">

      {{ govukButton({
        text: "I have updated my MSA configuration"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
