{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Before you start
    </h1>

    <p>
      Before you update your service provider encryption certificate, you must do the following:
    </p>

    <ul class="govuk-list govuk-list--number">
      <li>Create a new key and certificate.</li>
      <li>Deploy your new encryption key to your service provider. If your service provider does not support dual running, you should do this when there is low traffic to your service.</li>
    </ul>

    {% from "warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "You must deploy your encryption key before uploading your encryption certificate, or your service’s connection to GOV.UK Verify will stop working.",
      iconFallbackText: "Warning"
    }) }}

    <p>
      For more information, read the guidance on <a href="https://prototype-docs.cloudapps.digital/maintain-your-connection/service-provider/#update-the-encryption-key-and-certificate">updating your service provider encryption key and certificate</a>.
    </p>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "input/macro.njk" import govukInput %}

    <form action="upload-cert-sp-encryption">

      {{ govukButton({
        text: "I have deployed the encryption key"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
