{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <dl class="certificate-details">
      <dt class="govuk-visually-hidden">Environment</dt>
      <dd>Production</dd>
      <dt class="govuk-visually-hidden">Component</dt>
      <dd>Service provider</dd>
      <dt class="govuk-visually-hidden">Certificate</dt>
      <dd>Signing certificate</dd>
    </dl>

    <h1 class="govuk-heading-l">
      Before you start
    </h1>

    <p>
      Before you update your service provider signing certificate, you must create a new signing key and certificate.
    </p>

    <p>
      There is guidance on <a href="https://prototype-docs.cloudapps.digital/maintain-your-connection/service-provider/#update-the-signing-keys-and-certificate">updating your service provider signing key and certificate</a>.
    </p>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "input/macro.njk" import govukInput %}

    <form action="upload-cert-sp-signing">

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
