{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner govuk-clearfix govuk-!-margin-bottom-4">
  <div class="service-info">
    <h4 class="service-info--name govuk-heading-s">
      {{ data["team-name"] }}
    </h4>
  </div>
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      <li class="service-navigation--list-item"><a id="navigation-menu-transactions" href="#">Switch team</a></li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Rotate certificates</a>
        </li>
        <li>
          <a href="#">Manage team members</a>
        </li>
        <li>
          <a href="#">Your settings</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Upload encryption certificate for the Matching Service Adapter
    </h1>

    <p>
      Either upload a .crt file or paste the certificate text into the textarea.
    </p>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "textarea/macro.njk" import govukTextarea %}

    <form action="rotate-certs-msa">

      {{ govukFileUpload({
        id: "cert-msa-encryption",
        name: "cert-msa-encryption",
        label: {
          text: "Upload .crt file"
        }
      }) }}

      {{ govukTextarea({
        name: "cert-msa-encryption-text",
        id: "cert-msa-encryption-text",
        classes: "govuk-!-width-three-quarters",
        rows: "12",
        label: {
          text: "Paste certificate text"
        }
      }) }}

      <!-- hidden form to make completed tag appear on task list page -->
      {{ govukInput({
        id: "encryption-cert-msa",
        name: "encryption-cert-msa",
        value: "true",
        classes: "govuk-visually-hidden"
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    <p>
      <a href="rotate-certs-msa">Back</a>
    </p>

  </div>
</div>

{% endblock %}
