{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Manage team members</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Check you've uploaded the right certificate
    </h1>

    <p>
      The certificate you've uploaded contains the following information:
    </p>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Used by
        </dt>
        <dd class="govuk-summary-list__value">
          {{ serviceName }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Environment
        </dt>
        <dd class="govuk-summary-list__value">
          Production
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Valid from
        </dt>
        <dd class="govuk-summary-list__value">
          {{ todaysDate }}, 11:59pm
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Valid until
        </dt>
        <dd class="govuk-summary-list__value">
          {{ aYearFromNow }}, 11:59pm
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Common name
        </dt>
        <dd class="govuk-summary-list__value">
          MSA-signing-cert-4
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#" class="link-expandable">View more details</a>
        </dd>
      </div>

    </dl>

    <p>
      Uploading this certificate will update our infrastructure within 1 hour. We will email you when this is done. To avoid disruption you will need to deploy the new signing key to your service by 20 April.
    </p>

    {% from "button/macro.njk" import govukButton %}

    <form action="confirmation-msa-signing">

      <!-- hidden form to change status on dashboard page -->
      {{ govukInput({
        id: "confirm-cert-msa-signing",
        name: "confirm-cert-msa-signing",
        value: "true",
        classes: "govuk-visually-hidden"
      }) }}

      {{ govukButton({
        text: "Use this certificate",
        classes: "govuk-!-margin-bottom-5"
      }) }}

    </form>

    <p>
      <a href="upload-cert-msa-signing">
        Upload a different certificate
      </a>
    </p>

  </div>
</div>

{% endblock %}
