{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <div class="side-navigation">
        <ul class="govuk-list">
          <li class="active">
            <a href="dashboard">Manage certificates</a>
          </li>
          <li class="">
            <a href="team-members">Team members</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        GOV.UK Verify is deploying your certificate
      </h1>

      <p>
        We'll email you when this is done. This usually takes around 1 hour.
      </p>

      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <p>
        To finish updating your signing key and certificate, you must follow these steps:
      </p>

      <ul class="govuk-list govuk-list--number">
        <li>Wait for the email from GOV.UK Verify confirming your signing certificate has been deployed.</li>
        <li>Deploy the new signing key and certificate to your Matching Service Adapter (MSA).</li>
        <li>Update your service provider to trust the new signing certificate.</li>
      </ul>

      {% from "warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You must deploy the new signing key by {{ aYearFromNow }}, or your service’s connection to GOV.UK Verify will stop working.",
        iconFallbackText: "Warning"
      }) }}

      <p>
        For more information, read about how to <a href="https://prototype-docs.cloudapps.digital/maintain-your-connection/msa/#update-the-signing-keys-and-certificate">update your MSA signing key</a>.
      </p>

      <p>
        <a href="dashboard">
          Update more certificates
        </a>
      </p>

    </div>
  </div>

  <div id="link-to-confirmation-email">
    <a href="email-2-MSA-confirmation">
      Confirmation email
    </a>
  </div>

{% endblock %}
