{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <div class="side-navigation">
        <ul class="govuk-list">
          <li class="active">
            <a href="dashboard">Manage certificates</a>
          </li>
          <li class="">
            <a href="team-members">Team members</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

      <dl class="certificate-details">
        <dt class="govuk-visually-hidden">Environment</dt>
        <dd>Production</dd>
        <dt class="govuk-visually-hidden">Component</dt>
        <dd>VSP</dd>
        <dt class="govuk-visually-hidden">Certificate</dt>
        <dd>Encryption certificate</dd>
      </dl>

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-!-font-size-36">Certificate updated</h1>
        <div class="govuk-panel__body govuk-!-font-size-24">
          Wait for e-mail confirmation confirming that the deployment of your new certificate is complete. You should then delete the old encryption key and certificate from your VSP configuration.
        </div>
      </div>

      <p>
        <a href="dashboard">
          Update more certificates
        </a>
      </p>

    </div>
  </div>

{% endblock %}
