{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Manage certificates
    </h1>

    <p id="counter"></p>

    <h2 class="govuk-heading-m">
      Production
    </h2>

    <!-- MATCHING SERVICE ADAPTER - PRODUCTION -->
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Matching Service Adapter
    </h3>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="view-cert-msa-encryption" aria-describedby="">
          Encryption certificate
        </a>
        {% if data['confirm-cert-msa-encryption'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="">In use</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--expiring app-task-list__task-completed" id="">Expires in 7 days</strong>
        {% endif %}
      </li>
      {% if data['confirm-cert-msa-signing'] %}
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="view-cert-msa-signing-new" aria-describedby="">
            Signing certificate (primary)
          </a>
          <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="">Deploying</strong>
        </li>
      {% else %}
      {% endif %}
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="view-cert-msa-signing" aria-describedby="">
          Signing certificate
          {% if data['confirm-cert-msa-signing'] %}
            (secondary)
          {% else %}
          {% endif %}
        </a>
        {% if data['confirm-cert-msa-signing'] %}
          <strong class="govuk-tag govuk-tag--expiring app-task-list__task-completed" id="">Expires in 7 days</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--expiring app-task-list__task-completed" id="">Expires in 7 days</strong>
        {% endif %}
      </li>

    </ul>

    <!-- SERVICE PROVIDER - PRODUCTION -->
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
      Service provider
    </h3>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="view-cert-sp-encryption" aria-describedby="">
          Encryption certificate
        </a>
        {% if data['confirm-cert-sp-encryption'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="">In use</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--expiring app-task-list__task-completed" id="">Expires in 7 days</strong>
        {% endif %}
      </li>
      {% if data['confirm-cert-sp-signing'] %}
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="view-cert-sp-signing-new" aria-describedby="">
            Signing certificate (primary)
          </a>
          <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="">Deploying</strong>
        </li>
      {% else %}
      {% endif %}
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="view-cert-sp-signing" aria-describedby="">
          Signing certificate
          {% if data['confirm-cert-sp-signing'] %}
            (secondary)
          {% else %}
          {% endif %}
        </a>
        {% if data['confirm-cert-sp-signing'] %}
          <strong class="govuk-tag govuk-tag--expiring app-task-list__task-completed" id="">Expires in 7 days</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--expiring app-task-list__task-completed" id="">Expires in 7 days</strong>
        {% endif %}
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Integration
    </h2>

    <!-- MATCHING SERVICE ADAPTER - INTEGRATION -->
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Matching Service Adapter
    </h3>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#" aria-describedby="">
          Encryption certificate
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="">In use</strong>
      </li>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#" aria-describedby="">
          Signing certificate
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="">In use</strong>
      </li>
    </ul>

    <!-- SERVICE PROVIDER - INTEGRATION -->
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
      Service Provider
    </h3>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#" aria-describedby="">
          Encryption certificate
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="">In use</strong>
      </li>
      <li class="app-task-list__item">
        <a class="app-task-list__task-name" href="#" aria-describedby="">
          Signing certificate
        </a>
        <strong class="govuk-tag app-task-list__task-completed" id="">In use</strong>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
