{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Manage certificates
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Certificates expiring soon
    </h2>

    <ul class="govuk-list connection-list">
      {% if data['confirm-cert-msa-encryption'] %}
        <!-- show nothing -->
      {% else %}
        <li>
          <h3 class="govuk-heading-s">
            Encryption certificate (Matching Service Adapter)
          </h3>
          <div class="connection-info">
            <dl>
              <dt>Expiring on:</dt>
              <dd>25 March 2019, 11:59pm</dd>
            </dl>
            <dl>
              <dt>Environment:</dt>
              <dd>Production</dd>
            </dl>
            <dl>
              <dt>Used by:</dt>
              <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
            </dl>
          </div>
          <p>
            <a href="deploy-encryption-key-msa" class="govuk-!-body-bold">
              Update certificate
            </a>
          </p>
        </li>
      {% endif %}
      {% if data['confirm-cert-msa-signing'] %}
        <li>
          <h3 class="govuk-heading-s">
            Signing certificate (Matching Service Adapter)
          </h3>
          <div class="connection-info">
            <dl>
              <dt>Expiring on:</dt>
              <dd>25 March 2019, 11:59pm</dd>
            </dl>
            <dl>
              <dt>Environment:</dt>
              <dd>Production</dd>
            </dl>
            <dl>
              <dt>Used by:</dt>
              <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
            </dl>
          </div>
          <p class="status-message">
            Deploy your private key from 11:57 today
          </p>
        </li>
      {% else %}
      <li>
        <h3 class="govuk-heading-s">
          Signing certificate (Matching Service Adapter)
        </h3>
        <div class="connection-info">
          <dl>
            <dt>Expiring on:</dt>
            <dd>25 March 2019, 11:59pm</dd>
          </dl>
          <dl>
            <dt>Environment:</dt>
            <dd>Production</dd>
          </dl>
          <dl>
            <dt>Used by:</dt>
            <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
          </dl>
        </div>
        <p>
          <a href="upload-cert-msa-signing">
            Update certificate
          </a>
        </p>
      </li>
      {% endif %}
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Other certificates you manage
    </h2>

    <ul class="govuk-list connection-list">
      <li>
        <h3 class="govuk-heading-s">
          Encryption certificate (service provider)
        </h3>
        <div class="connection-info">
          <dl>
            <dt>Expiring on:</dt>
            <dd>10 January 2020 11:59pm</dd>
          </dl>
          <dl>
            <dt>Environment:</dt>
            <dd>Production</dd>
          </dl>
          <dl>
            <dt>Used by:</dt>
            <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
          </dl>
        </div>
      </li>
      <li>
        <h3 class="govuk-heading-s">
          Signing certificate (service provider)
        </h3>
        <div class="connection-info">
          <dl>
            <dt>Expiring on:</dt>
            <dd>10 January 2020 11:59pm</dd>
          </dl>
          <dl>
            <dt>Environment:</dt>
            <dd>Production</dd>
          </dl>
          <dl>
            <dt>Used by:</dt>
            <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
          </dl>
        </div>
      </li>
      {% if data['confirm-cert-msa-encryption'] %}
        <li>
          <h3 class="govuk-heading-s">
            Encryption certificate (Matching Service Adapter)
          </h3>
          <div class="connection-info">
            <dl>
              <dt>Expiring on:</dt>
              <dd>14 March 2020 11:59pm</dd>
            </dl>
            <dl>
              <dt>Environment:</dt>
              <dd>Production</dd>
            </dl>
            <dl>
              <dt>Used by:</dt>
              <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
            </dl>
          </div>
        </li>
      {% endif %}
      <!-- {% if data['confirm-cert-msa-signing'] %}
        <li>
          <h3 class="govuk-heading-s">
            Signing certificate (Matching Service Adapter)
          </h3>
          <div class="connection-info">
            <dl>
              <dt>Expiring on:</dt>
              <dd>25 March 2019, 11:59pm</dd>
            </dl>
            <dl>
              <dt>Environment:</dt>
              <dd>Production</dd>
            </dl>
            <dl>
              <dt>Used by:</dt>
              <dd>Apply for a license, Report a condition, Renew a short-term license, View or share your information</dd>
            </dl>
          </div>
        </li>
      {% endif %} -->
    </ul>

  </div>
</div>

{% endblock %}
