{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Rotate certificates</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Deploy encryption key to your Matching Service Adapter
    </h1>

    <p>
      Before updating your encryption certificate, you must deploy the corresponding encryption key to your MSA.
    </p>

    <p>
      If you don't do this your connection to GOV.UK Verify will break once the new certificate is in place.
    </p>

    <p>
      Read about how to <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/#rotate-your-msa-encryption-key">rotate your MSA encryption key</a>.
    </p>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "input/macro.njk" import govukInput %}

    <form action="upload-cert-msa-encryption">

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
