{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Update certificates</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Please wait 1 hour for us to update GOV.UK Verify&rsquo;s infrastructure
    </h1>

    <p>
      We will send you a confirmation email when the changes have been made.
    </p>

    <p>
      Once you have received confirmation that we have updated GOV.UK Verify's infrastructure, you need to deploy the signing key to your Matching Service Adapter.
    </p>

    <p>
      Read about how to <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/#rotate-your-msa-signing-key">rotate your MSA signing key</a>.
    </p>

    <p>
      <a href="rotate-certs-msa">Back</a>
    </p>

  </div>
</div>

{% endblock %}
