{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Service provider: encryption certificate
    </h1>

    {% from "warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "You disabled the encryption certificate for this component. Your services are no longer connected to the Production environment.",
      iconFallbackText: "Warning"
    }) }}

    <form action="before-you-start-sp-encryption">

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Replace certificate"
      }) }}

      <span class="secondary-link">
        <a class="govuk-!-font-size-19" href="view-cert-sp-encryption">Reactivate previous certificate</a>
      </span>

    </form>

  </div>
</div>

{% endblock %}
