{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <dl class="certificate-details govuk-!-margin-bottom-3">
      <dt class="govuk-visually-hidden">Environment</dt>
      <dd>Production</dd>
      <dt class="govuk-visually-hidden">Component</dt>
      <dd>Matching Service Adapter</dd>
      <dt class="govuk-visually-hidden">Certificate</dt>
      <dd>Encryption certificate</dd>
    </dl>

    <form action="dual-running-answer" method="post" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dual-running-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              Does your service provider support dual running?
            </h1>
          </legend>
          <!-- <span id="dual-running-hint" class="govuk-hint">
            This includes changing your last name or spelling your name differently.
          </span> -->
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dual-running-yes" name="dual-running" type="radio" value="true">
              <label class="govuk-label govuk-radios__label" for="dual-running-yes">
                Yes
              </label> </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="dual-running-no" name="dual-running" type="radio" value="false">
              <label class="govuk-label govuk-radios__label" for="dual-running-no">
                No
              </label> </div>
          </div>
        </fieldset>
      </div>
      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


  </div>
</div>

{% endblock %}
