{% extends "layout_email.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="email">

        <div class="email-header">
          <h1 class="govuk-heading-m govuk-!-padding-bottom-2 govuk-!-margin-bottom-2">
            New process for updating GOV.UK Verify certificates
          </h1>
          <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-0">
            <li>GOV.UK Verify (gov.uk.verify@notifications.service.gov.uk)</li>
            <li>25 Feb 2019, 09:00</li>
          </ul>
        </div>

        {{ govukHeader({
          containerClasses: "govuk-width-container"
        }) }}

        <div class="email-content">

          <p>
            Hello [DVSA team],
          </p>

          <p>
            The GOV.​UK Verify team has been improving the process for managing your certificates and keys, and has launched a new platform that will allow you to update them independently.
          </p>

          <p>
            To access the platform, you’ll need to set up an account by following this link: <a href="create-account" target="_blank">https://www.verify.service.gov.uk/create-account</a>
          </p>

          <p>
            To find out more about the new process, read our guidance at <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/" target="_blank">https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/</a>
          </p>

          <p>
            If you have any concerns or feedback on the new certificate and key management process, you can email the team at <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a>
          </p>

          <p>
            Best wishes,<br>
            GOV.UK Verify
          </p>

        </div>

      </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
