{% extends "layout_email.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="email">

        <div class="email-header">
          <h1 class="govuk-heading-m govuk-!-padding-bottom-2 govuk-!-margin-bottom-2">
            New process for updating GOV.UK Verify certificates
          </h1>
          <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-0">
            <li>GOV.UK Verify (gov.uk.verify@notifications.service.gov.uk)</li>
            <li>{{ todaysDate }}, 09:00</li>
          </ul>
        </div>

        {{ govukHeader({
          containerClasses: "govuk-width-container"
        }) }}

        <div class="email-content">

          <p>
            Hello {{ teamName }} team,
          </p>

          <p>
            The GOV.​UK Verify team has been improving the process for managing your keys and certificates.
          </p>

          <p>
           The new process allows you to update your keys and certificates without needing support from the GOV.UK Verify team.
          </p>

          <p>
            You can now:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>use self-signed certificates instead of requesting them from the IDAP certificate authority</li>
            <li>upload certificates using the new GOV.UK Verify Service Admin tool</li>
          </ul>

          <p>
            Find out more about <a href="https://prototype-docs.cloudapps.digital/maintain-your-connection/#update-your-keys-and-certificates" target="_blank">creating and upload certificates</a> in the documentation.
          </p>

          <p>
            To access the GOV.UK Verify Service Admin tool, you’ll need to <a href="create-account">create an account</a>.
          </p>

          <p>
            If you have any concerns or feedback on the new certificate and key management process, you can email the team at <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a>
          </p>

          <p>
            Best wishes,<br>
            GOV.UK Verify
          </p>

        </div>

      </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
