{% extends "layout_email.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="email">

        <div class="email-header">
          <h1 class="govuk-heading-m govuk-!-padding-bottom-2 govuk-!-margin-bottom-2">
            Your certificate update
          </h1>
          <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-0">
            <li>GOV.UK Verify (gov.uk.verify@notifications.service.gov.uk)</li>
            <li>{{ todaysDate }}, 09:00</li>
          </ul>
        </div>

        {{ govukHeader({
          containerClasses: "govuk-width-container"
        }) }}

        <div class="email-content">
          <p>
            Hello {{ teamName }} team,
          </p>
          <p>
            GOV.​UK Verify has deployed the new signing certificate for your service provider.
          </p>
          <p>
            You can now add the signing key to your service provider in production.
          </p>
          <p>
            You must do this by 11:59pm on {{ expiryDate }} or your service’s connection to GOV.UK Verify will break.
          </p>
          <div class="submit-fake-form-in-email">
            Once you have done this, sign in to the
              <form action="sign-in">
                <input class="govuk-input govuk-visually-hidden" id="sp-signing-deployed" name="sp-signing-deployed" type="text" value="true">
                <button>GOV.UK Verify Manage certificates service</button>
              </form>
            to tell us to stop using the old signing certificate.
          </div>
          <p>
            Find out more about <a href="
https://prototype-docs.cloudapps.digital/rotating-your-keys-and-certificates/service-provider-signing/#rotate-your-service-provider-signing-key-and-certificate">rotating your service provider signing key and certificate</a> in the documentation.
          </p>
          <p>
            Best wishes,<br>
            GOV.UK Verify
          </p>

        </div>

      </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
