{% extends "layout_email.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="email">

        <div class="email-header">
          <h1 class="govuk-heading-m govuk-!-padding-bottom-2 govuk-!-margin-bottom-2">
            4 certificates expiring on {{ expiryDate }}
          </h1>
          <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-0">
            <li>GOV.UK Verify (gov.uk.verify@notifications.service.gov.uk)</li>
            <li>{{ todaysDate }}, 09:00</li>
          </ul>
        </div>

        {{ govukHeader({
          containerClasses: "govuk-width-container"
        }) }}

        <div class="email-content">

          <p>
            Hello {{ teamName }} team,
          </p>

          <p>
            4 certificates are due to expire at 11:59pm on {{ expiryDate }}.
          </p>

          <p>
            Matching Service Adapter (Production):
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>encryption certificate</li>
            <li>signing certificate</li>
          </ul>

          <p>
            Service provider (Production):
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>encryption certificate</li>
            <li>signing certificate</li>
          </ul>

          <p>
            To ensure your service is not disconnected from GOV.​UK Verify, you need to update these certificates. You should allow 2 hours to complete the process.
          </p>

          <p>
            To update your certificates, you need to:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>create and sign new keys and certificates</li>
            <li>upload your certificates to the <a href="sign-in" target="_blank">GOV.​UK Verify Service Admin tool</a></li>
          </ul>

          <p>
            You can read guidance on how to <a href="https://prototype-docs.cloudapps.digital/maintain-your-connection/#update-your-keys-and-certificates" target="_blank">create and upload certificates</a>.
          </p>

          <p>
            Best wishes,<br>
            GOV.UK Verify
          </p>

        </div>

      </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
