{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="active">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <a href="team-members" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-5">Back</a>

    <h1 class="govuk-heading-l">
      Invite a team member
    </h1>

    <form action="team-members" method="post" novalidate>
      {% from "radios/macro.njk" import govukRadios %}
      {% from "button/macro.njk" import govukButton %}
      {% from "input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "team-member-email",
        name: "team-member-email"
      }) }}

      {% from "checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "new-team-member",
        name: "new-team-member",
        fieldset: {
          legend: {
            text: "Permissions",
            isPageHeading: false
          }
        },
        items: [
          {
            value: "can-manage-certificates",
            name: "can-manage-certificates",
            text: "Manage certificates"
          },
          {
            value: "can-manage-team-members",
            name: "can-manage-team-members",
            text: "Add, edit and remove team members"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Send invitation email"
      }) }}
    </form>

  </div>
</div>

{% endblock %}
