{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner govuk-clearfix govuk-!-margin-bottom-4">
  <div class="service-info">
    <h4 class="service-info--name govuk-heading-s">
      {{ data["team-name"] }}
    </h4>
  </div>
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      <li class="service-navigation--list-item"><a id="navigation-menu-transactions" href="#">Switch team</a></li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Rotate certificates</a>
        </li>
        <li>
          <a href="#">Manage team members</a>
        </li>
        <li>
          <a href="#">Your settings</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Rotate certificates for {{ data["service-name"] }}: Production environment
    </h1>

    <p>
      The following certificates for {{ data["service-name"] }} are due to expire on 14 March 2019:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        encryption certificate for the Matching Service Adapter
      </li>
      <li>
        signing certificate for the Matching Service Adapter
      </li>
      <li>
        encryption certificate for the service provider
      </li>
      <li>
        signing certificate for the service provider
      </li>
    </ul>

    <p>
      Before you can rotate your keys, you need to generate new certificates for each of the components you run in this environment. Read about <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/">rotating your encryption and signing keys</a> to find out how to do this.
    </p>

    <form action="upload-certs">

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
