{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -30px">

  <div class="govuk-grid-column-two-thirds">

    <a href="profile" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

    <h1 class="govuk-heading-l">
      Change your name
    </h1>

    <form action="profile">

      {% from "components/input/macro.njk" import govukInput %}
      {% from "components/button/macro.njk" import govukButton %}

      {{ govukInput({
        label: {
          text: "Your name"
        },
        id: "user-name",
        name: "user-name"
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
