{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Encryption certificate removed for your Matching Service Adapter
    </h1>

    <p>
      Any services connected to the Integration environment will now stop working with GOV.UK Verify.
    </p>

    <p>
      If you made a mistake, you can <a href="dashboard">reactivate the certificate</a>.
    </p>

    <p>
      <a href="dashboard">Go back</a>
    </p>

  </div>
</div>

{% endblock %}
