{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Are you sure you want to remove this {{ certificate }} certificate?
    </h1>

    {% from "summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Environment"
          },
          value: {
            text: "Integration"
          }
        },
        {
          key: {
            text: "Used by"
          },
          value: {
            text: "{{ serviceName }}"
          }
        },
        {
          key: {
            text: "Valid from"
          },
          value: {
            text: "{{ startDate }}, 11:59pm"
          }
        },
        {
          key: {
            text: "Valid until"
          },
          value: {
            text: "{{ expiryDate }}, 11:59pm"
          }
        },
        {
          key: {
            text: "Common name"
          },
          value: {
            text: "MSA-encryption-cert-3"
          }
        },
        {
          key: {
            text: "Fingerprint"
          },
          value: {
            text: "43:52:43:a1:c5:fc:8b:b8:0a:3a:a9:b9:0f:46:73:a8"
          }
        },
        {
          key: {
            text: "Serial number"
          },
          value: {
            text: "00946EBCBE07H201CF"
          }
        }
      ]
    }) }}

    {% from "warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "Removing this certificate will make all connected services stop working with the GOV.UK Verify Integration environment.",
      iconFallbackText: "Warning"
    }) }}

    <p>
      You can reactivate this certificate once removed, or update it with a new one.
    </p>

    {% from "button/macro.njk" import govukButton %}

    <form action="removed-cert-msa-encryption">

      <!-- hidden form to change status on dashboard page -->
      {{ govukInput({
        id: "remove-cert-msa-encryption",
        name: "remove-cert-msa-encryption",
        value: "true",
        classes: "govuk-visually-hidden"
      }) }}

      {{ govukButton({
        text: "Remove certificate",
        classes: "govuk-button--warning govuk-!-margin-bottom-5"
      }) }}

    </form>

    <p>
      <a href="dashboard">Go back</a>
    </p>

  </div>
</div>

{% endblock %}
