{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner govuk-clearfix govuk-!-margin-bottom-4">
  <div class="service-info">
    <h4 class="service-info--name govuk-heading-s">
      {{ data["team-name"] }}
    </h4>
  </div>
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      <li class="service-navigation--list-item"><a id="navigation-menu-transactions" href="#">Switch team</a></li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Rotate certificates</a>
        </li>
        <li>
          <a href="#">Manage team members</a>
        </li>
        <li>
          <a href="#">Your settings</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Rotate certificates for your Matching Service Adapter
    </h1>

    <p>
      Certificates for your Matching Service Adapter (MSA) are due to expire on 14 March 2019.
    </p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          To do
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="deploy-encryption-key-msa" aria-describedby="eligibility-completed">
              Deploy encryption key to your MSA
            </a>
            {% if data['encryption-key-msa'] %}
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="cert-msa-encryption" aria-describedby="read-declaration-completed">
              Upload encryption certificate
            </a>
            {% if data['encryption-cert-msa'] %}
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="cert-msa-signing" aria-describedby="read-declaration-completed">
              Upload signing certificate
            </a>
            {% if data['signing-cert-msa'] %}
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="deploy-signing-key-msa" aria-describedby="read-declaration-completed">
              Deploy signing key to your MSA
            </a>
            {% if data['signing-cert-msa'] %}
              <strong class="govuk-tag app-task-list__task-completed govuk-tag-grey">Please wait</strong>
            {% endif %}
            {% if data['signing-key-msa'] %}
              <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>
    </ol>

    <p>
      Your MSA is used by 3 services:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ data["connection-1-service-1"] }}</li>
      <li>{{ data["connection-1-service-2"] }}</li>
      <li>{{ data["connection-1-service-3"] }}</li>
    </ul>

    <!-- <p>
      Read more about <a href="https://www.docs.verify.service.gov.uk/maintain-your-connection/rotate-keys/">rotating your encryption and signing keys</a>.
    </p> -->

  </div>
</div>

{% endblock %}
