{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% from "input/macro.njk" import govukInput %}
{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Configure prototype for user research sessions
      </h1>

      <form action="sign-in">
        {% call govukFieldset({
          legend: {
            text: "Configure prototype for user research sessions",
            classes: "govuk-visually-hidden"
          }
        }) %}

          <h2 class="govuk-heading-m">
            Team
          </h2>

          {{ govukInput({
            label: {
              text: "Department or team"
            },
            classes: "govuk-!-width-two-thirds",
            id: "team-name",
            name: "team-name"
          }) }}

          <h2 class="govuk-heading-m">
            Connection 1
          </h2>

          {{ govukInput({
            label: {
              text: "Connection"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-1",
            name: "connection-1",
            value: "Matching Service Adapter"
          }) }}

          {{ govukInput({
            label: {
              text: "Service connected"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-1-service-1",
            name: "connection-1-service-1"
          }) }}

          {{ govukInput({
            label: {
              text: "Service connected"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-1-service-2",
            name: "connection-1-service-2"
          }) }}

          {{ govukInput({
            label: {
              text: "Service connected"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-1-service-3",
            name: "connection-1-service-3"
          }) }}

          <h2 class="govuk-heading-m">
            Connection 2
          </h2>

          {{ govukInput({
            label: {
              text: "Connection"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-2",
            name: "connection-2",
            value: "Service Provider"
          }) }}

          {{ govukInput({
            label: {
              text: "Service connected"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-2-service-1",
            name: "connection-2-service-1"
          }) }}

          {{ govukInput({
            label: {
              text: "Service connected"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-2-service-2",
            name: "connection-2-service-2"
          }) }}

          {{ govukInput({
            label: {
              text: "Service connected"
            },
            classes: "govuk-!-width-two-thirds",
            id: "connection-2-service-3",
            name: "connection-2-service-3"
          }) }}

          {{ govukButton({
            text: "Save"
          }) }}

        {% endcall %}
      </form>

    </div>
  </div>

{% endblock %}
