{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="active">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <a href="team-member-edit" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-5">Back</a>

    <h1 class="govuk-heading-l">
      Reset team member's password
    </h1>

    <p>
      Send a temporary password to chris.thomas@department.gov.uk so they can set a new one.
    </p>

    <form action="team-members" method="post" novalidate>

      {{ govukButton({
        text: "Reset password"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
