{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="active">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">

    {% if data['team-member-email'] %}
      <div class="govuk-error-summary govuk-error-summary--success" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          Team member added
        </h2>
        <div class="govuk-error-summary__body">
          <p>
            GOV.UK Verify has sent an email invitation to {{ data['team-member-email'] }}.
          </p>
        </div>
      </div>
    {% else %}

    {% endif %}

    <h1 class="govuk-heading-l">
      Team members
    </h1>

    <div class="user-list">

      <div class="user-list-item">
        <h3 class="govuk-heading-s">
          Dev Eloper
          <span class="hint govuk-body govuk-!-padding-left-1">(you)</span>
        </h3>
        <ul class="govuk-list tick-cross-list">
          <div class="tick-cross-list-permissions">
            <li>
              <span class="tick-cross-tick">
                <span class="govuk-visually-hidden">Can</span>
                Manage certificates
              </span>
            </li>
            <li>
              <span class="tick-cross-tick">
                <span class="govuk-visually-hidden">Can</span>
                Add, edit and remove team members
              </span>
            </li>
          </div>
        </ul>
      </div>

      <div class="user-list-item">
        <h3 class="govuk-heading-s">
          Chris Thomas
          <span class="hint govuk-body govuk-!-padding-left-1">chris.thomas@department.gov.uk</span>
        </h3>
        <ul class="govuk-list tick-cross-list">
          <div class="tick-cross-list-permissions">
            <li>
              <span class="tick-cross-tick">
                <span class="govuk-visually-hidden">Can</span>
                Manage certificates
              </span>
            </li>
            <li>
              <span class="tick-cross-cross">
                <span class="govuk-visually-hidden">Cannot</span>
                Add, edit and remove team members
              </span>
            </li>
          </div>
          <li class="tick-cross-list-edit-link">
            <a href="team-member-edit">Change details</a>
          </li>
        </ul>
      </div>

      {% if data['team-member-email'] %}
        <div class="user-list-item">
          <h3 class="govuk-heading-s">
            <span class="hint govuk-body">{{ data['team-member-email'] }} (invited)</span>
          </h3>
          <ul class="govuk-list tick-cross-list">
            <div class="tick-cross-list-permissions">
              {% if data['can-manage-certificates'] %}
                <li>
                  <span class="tick-cross-tick">
                    <span class="govuk-visually-hidden">Can</span>
                    Manage certificates
                  </span>
                </li>
              {% else %}
                <li>
                  <span class="tick-cross-cross">
                    <span class="govuk-visually-hidden">Cannot</span>
                    Manage certificates
                  </span>
                </li>
              {% endif %}
              {% if data['can-manage-team-members'] %}
                <li>
                  <span class="tick-cross-tick">
                    <span class="govuk-visually-hidden">Can</span>
                    Add, edit and remove team members
                  </span>
                </li>
              {% else %}
                <li>
                  <span class="tick-cross-cross">
                    <span class="govuk-visually-hidden">Cannot</span>
                    Add, edit and remove team members
                  </span>
                </li>
              {% endif %}
            </div>
            <div class="tick-cross-list-edit-link">
              <li>
                <a href="#">Re-send invitation</a>
              </li>
              <li>
                <a href="#">Cancel invitation</a>
              </li>
            </div>
          </ul>
        </div>
      {% else %}

      {% endif %}


    </div>

    <form action="new-team-member" method="post" novalidate>
      {% from "button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Invite a team member",
        classes: "govuk-button--secondary"
      }) }}
    </form>


  </div>
</div>

{% endblock %}
