{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="">
          <a href="dashboard" class="govuk-link--no-visited-state">Manage certificates</a>
        </li>
        <li class="active">
          <a href="team-members" class="govuk-link--no-visited-state">Team members</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <a href="team-members" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-5">Back</a>

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary" id="confirm-remove-team-member">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Are you sure you want to remove Chris Thomas?
      </h2>
      <div class="govuk-error-summary__body">
        <form action="team-members">
          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Yes, remove
          </button>
          <span class="secondary-link">
            <a href="#" id="cancel-remove-team-member">Cancel</a>
          </span>
        </form>
      </div>
    </div>

    <h1 class="govuk-heading-l">
      Chris Thomas
    </h1>

    <p>
      chris.thomas@department.gov.uk <a class="govuk-!-padding-left-1 govuk-link--no-visited-state" href="team-member-edit-email">Change<span class="govuk-visually-hidden">email address</span></a>
    </p>

    <ul class="govuk-list">
      <li>
        <a href="team-member-reset-password" class="govuk-link--no-visited-state">Reset password</a>
      </li>
      <li>
        <a href="team-member-reset-mfa" class="govuk-link--no-visited-state">Reset multi-factor authentication</a>
      </li>
    </ul>

    <form action="team-members" method="post" novalidate>
      {% from "radios/macro.njk" import govukRadios %}
      {% from "button/macro.njk" import govukButton %}
      {% from "input/macro.njk" import govukInput %}

      {% from "checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "new-team-member",
        name: "new-team-member",
        fieldset: {
          legend: {
            text: "Permissions",
            isPageHeading: false
          }
        },
        hint: {
          text: "Select at least one"
        },
        items: [
          {
            value: "can-manage-certificates",
            name: "can-manage-certificates",
            text: "Manage certificates",
            checked: true
          },
          {
            value: "can-manage-team-members",
            name: "can-manage-team-members",
            text: "Add, edit and remove team members"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}

      <span class="secondary-link">
        <a class="destructive-link" href="#" id="remove-team-member">
          Remove this team member
        </a>
      </span>

    </form>

  </div>
</div>

{% endblock %}
