{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    {% from "error-summary/macro.njk" import govukErrorSummary %}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You have already uploaded this certificate",
          href: "#"
        }
      ]
    }) }}

    <h1 class="govuk-heading-l">
      Upload signing certificate for the Matching Service Adapter
    </h1>

    <p>
      Either upload a .crt file or paste the certificate text into the textarea.
    </p>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "textarea/macro.njk" import govukTextarea %}

    <form action="rotate-certs-msa">

      {{ govukFileUpload({
        id: "cert-msa-encryption",
        name: "cert-msa-encryption",
        label: {
          text: "Upload .crt file"
        }
      }) }}

      {{ govukTextarea({
        name: "cert-msa-encryption-text",
        id: "cert-msa-encryption-text",
        classes: "govuk-!-width-three-quarters",
        rows: "12",
        label: {
          text: "Paste certificate text"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
