{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <dl class="certificate-details">
      <dt class="govuk-visually-hidden">Environment</dt>
      <dd>Production</dd>
      <dt class="govuk-visually-hidden">Component</dt>
      <dd>Matching Service Adapter</dd>
      <dt class="govuk-visually-hidden">Certificate</dt>
      <dd>Encryption certificate</dd>
    </dl>

    <h1 class="govuk-heading-l">
      Upload the encryption certificate
    </h1>

    <p>
      You can either:
    </p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>upload a .crt file</li>
      <li>paste the certificate text into the text box</li>
    </ul>

    {% from "file-upload/macro.njk" import govukFileUpload %}
    {% from "button/macro.njk" import govukButton %}
    {% from "textarea/macro.njk" import govukTextarea %}

    <form action="check-cert-sp-encryption">

      {{ govukFileUpload({
        id: "cert-sp-encryption",
        name: "cert-sp-encryption",
        label: {
          text: "Upload .crt file"
        }
      }) }}

      {{ govukTextarea({
        name: "cert-sp-encryption-text",
        id: "cert-sp-encryption-text",
        classes: "govuk-!-width-three-quarters",
        rows: "12",
        label: {
          text: "Paste certificate text"
        }
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
