{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="navigation-service">
      <div class="navigation-service-name">
        {{ teamName }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Team members</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <dl class="certificate-details">
      <dt class="govuk-visually-hidden">Environment</dt>
      <dd>Production</dd>
      <dt class="govuk-visually-hidden">Component</dt>
      <dd>MSA</dd>
      <dt class="govuk-visually-hidden">Certificate</dt>
      <dd>Signing certificate</dd>
    </dl>

    <form action="check-cert-msa-signing">

      {% set uploadHtml %}
        {{ govukFileUpload({
          id: "cert-msa-signing",
          name: "cert-msa-signing",
          classes: "govuk-!-padding-top-2 govuk-!-padding-bottom-3",
          label: {
            text: "Upload .crt file",
            classes: "govuk-visually-hidden"
          }
        }) }}
      {% endset -%}

      {% set pasteHtml %}
        {{ govukTextarea({
          name: "cert-msa-signing-text",
          id: "cert-msa-signing-text",
          classes: "govuk-!-width-three-quarters",
          rows: "20",
          label: {
            text: "Paste certificate text",
            classes: "govuk-visually-hidden"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "how-contacted-conditional",
        name: "how-contacted",
        fieldset: {
          legend: {
            text: "Upload the encryption certificate",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Choose how you prefer to upload the certificate."
        },
        items: [
          {
            value: "upload",
            text: "Upload a .crt file",
            conditional: {
              html: uploadHtml
            }
          },
          {
            value: "paste",
            text: "Paste certificate text into a text box",
            conditional: {
              html: pasteHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
