{% extends "product.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner govuk-clearfix govuk-!-margin-bottom-4">
  <div class="service-info">
    <h4 class="service-info--name govuk-heading-s">
      {{ data["team-name"] }}
    </h4>
  </div>
  <nav role="navigation" class="service-navigation">
    <ul class="service-navigation--list">
      <li class="service-navigation--list-item"><a id="navigation-menu-transactions" href="#">Switch team</a></li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Upload certificates for {{ data["service-name"] }}: Production environment
    </h1>

    <p>
      Do not upload your private keys.
    </p>

    <form action="confirmation">

      {{ govukFileUpload({
        id: "cert-msa-encryption",
        name: "cert-msa-encryption",
        label: {
          text: "Upload encryption certificate for the Matching Service Adapter"
        }
      }) }}

      {{ govukFileUpload({
        id: "cert-msa-signing",
        name: "cert-msa-signing",
        label: {
          text: "Upload signing certificate for the Matching Service Adapter"
        }
      }) }}

      {{ govukFileUpload({
        id: "cert-sp-encryption",
        name: "cert-sp-encryption",
        label: {
          text: "Upload encryption certificate for the service provider"
        }
      }) }}

      {{ govukFileUpload({
        id: "cert-sp-signing",
        name: "cert-sp-signing",
        label: {
          text: "Upload signing certificate for the service provider"
        }
      }) }}

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
