{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Manage team members</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Matching Service Adapter: encryption certificate
    </h1>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Used by
        </dt>
        <dd class="govuk-summary-list__value">
          {{ serviceName }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Environment
        </dt>
        <dd class="govuk-summary-list__value">
          Production
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Valid from
        </dt>
        <dd class="govuk-summary-list__value">
          {{ startDate }}, 11:59pm
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Valid until
        </dt>
        <dd class="govuk-summary-list__value">
          {{ expiryDate }}, 11:59pm
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Common name
        </dt>
        <dd class="govuk-summary-list__value">
          MSA-encryption-cert-3
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#" class="link-expandable">View more details</a>
        </dd>
      </div>

    </dl>

    <form action="before-you-start-msa-encryption">

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Replace certificate"
      }) }}

      <span class="secondary-link">
        <a href="#" class="destructive-link">Disable certificate</a>
      </span>

    </form>


    <div class="govuk-error-summary destructive-button" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Are you sure you want to disable this certificate?
      </h2>
      <div class="govuk-error-summary__body">
        <p>
          This will make any connected services stop working with the Production environment.
        </p>
        <p>
          You can reactivate this certificate once disabled, or update it with a new one.
        </p>
        <form action="disabled-cert-msa-encryption">
          <!-- hidden form to change status on dashboard page -->
          {{ govukInput({
            id: "disable-cert-msa-encryption",
            name: "disable-cert-msa-encryption",
            value: "true",
            classes: "govuk-visually-hidden"
          }) }}
          <!-- button -->
          {{ govukButton({
            text: "Disable certificate",
            classes: "govuk-button--warning govuk-!-margin-bottom-1"
          }) }}
          <span class="secondary-link">
            <a class="cancel-destructive-button" href="#">Cancel</a>
          </span>
        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
