{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <div class="side-navigation">
      <ul class="govuk-list">
        <li class="active">
          <a href="dashboard">Manage certificates</a>
        </li>
        <li class="">
          <a href="team-members">Manage team members</a>
        </li>
        <li>
          <a href="#">Sign out</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Encryption certificate for your Matching Service Adapter
    </h1>

    {% from "summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Environment"
          },
          value: {
            text: "Production"
          }
        },
        {
          key: {
            text: "Used by"
          },
          value: {
            text: "Apply for Universal Credit"
          }
        },
        {
          key: {
            text: "Valid from"
          },
          value: {
            text: "10 July 2018, 11:59pm"
          }
        },
        {
          key: {
            text: "Valid until"
          },
          value: {
            text: "10 April 2019, 11:59pm"
          }
        },
        {
          key: {
            text: "Common name"
          },
          value: {
            text: "MSA-encryption-cert-3"
          }
        },
        {
          key: {
            text: "Fingerprint"
          },
          value: {
            text: "43:52:43:a1:c5:fc:8b:b8:0a:3a:a9:b9:0f:46:73:a8"
          }
        },
        {
          key: {
            text: "Serial number"
          },
          value: {
            text: "00946EBCBE07H201CF"
          }
        }
      ]
    }) }}

    <form action="before-you-start-msa-encryption">

      {% from "button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Update certificate"
      }) }}

    </form>

    <p>
      <a href="remove-cert-msa-encryption" class="link-warning">Remove certificate</a>
    </p>

  </div>
</div>

{% endblock %}
