{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-xl">
          Create a matching service
        </h1>

        <p>
         A matching service makes it easier to match verified identities with records in your database and send the results to GOV.UK Verify.
        </p>

        <p>
          To create a matching service you need to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>build a local matching service</li>
          <li>install the Matching Service Adapter</li>
        </ul>

        <img src="../public/images/verify-build-matching.svg" alt="" class="diagram">

        <h2 class="govuk-heading-m">
          Build a local matching service
        </h2>

        <p>
          A local matching service helps you find a match between a user's verified identity and a record in your database. You must build your own local matching service and host it on your own infrastructure.
        </p>

        <ol class="govuk-list govuk-list--number">
          <li>See an <a href="https://github.com/alphagov/verify-local-matching-service-example">example local matching service</a> to find out how it should work.</li>
          <li>Build your local matching service. It must be able to <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/buildmatchingservice.html#respondjsonmr">respond to JSON matching requests</a>.</li>
        </ol>

        <p>
          Email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> if you need help building your local matching service.
        </p>

        <h2 class="govuk-heading-m">
          Install the Matching Service Adapter
        </h2>

        <p>
          The Matching Service Adapter is a software tool that helps your local matching service communicate with GOV.UK Verify.
        </p>

        <p>
          <a href="https://github.com/alphagov/verify-matching-service-adapter">Download the Matching Service Adapter</a> and follow the instructions on how to install and configure it.
        </p>

        <h2 class="govuk-heading-m">
          Test your matching service
        </h2>

        <p>
          Use the <a href="https://github.com/alphagov/verify-matching-service-adapter/tree/master/verify-matching-service-test-tool">matching service test tool</a> to make sure your matching service works properly.
        </p>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "create-matching-service-complete",
              name: "create-matching-service-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>
        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>

    </div>
  </main>
</div>

{% endblock %}
