{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-xl">
          Create a matching service
        </h1>

        <p>
         A matching service makes it easier to match verified identities with records in your database and send the results to GOV.UK Verify.
        </p>

        <p>
          To create a matching service you need to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>build a local matching service</li>
          <li>install the Matching Service Adapter</li>
        </ul>

        <img src="../public/images/verify-build-matching.svg" alt="" class="diagram">

        <h2 class="govuk-heading-m">
          Build a local matching service
        </h2>

        <p>
          A local matching service helps you find a match between a user's verified identity and a record in your database. You must build your own local matching service and host it on your own infrastructure.
        </p>

        <ol class="govuk-list govuk-list--number">
          <li>See an <a href="https://github.com/alphagov/verify-local-matching-service-example">example local matching service</a> to find out how it should work.</li>
          <li>Build your local matching service. It must be able to <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/buildmatchingservice.html#respondjsonmr">respond to JSON matching requests</a>.</li>
        </ol>

        <p>
          Email <a href="mailto:connect-to-verify-prototype@digital.cabinet-office.gov.uk">connect-to-verify-prototype@digital.cabinet-office.gov.uk</a> if you need help building your local matching service.
        </p>

        <h2 class="govuk-heading-m">
          Install the Matching Service Adapter
        </h2>

        <p>
          The Matching Service Adapter is a software tool that helps your local matching service communicate with GOV.UK Verify.
        </p>

        <p>
          <a href="https://github.com/alphagov/verify-matching-service-adapter">Download the Matching Service Adapter</a> and follow the instructions on how to install and configure it.
        </p>

        <h2 class="govuk-heading-m">
          Test your matching service
        </h2>

        <p>
          Use the <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/saml/samlComplianceTool.html">Compliance Tool</a> to test that your matching service works properly.
        </p>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "create-matching-service-complete",
              name: "create-matching-service-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
            <li class="previous">
              <a href="matching">
                <span class="title">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                </span>
                <span class="label">Match verified identities with existing data</span>
              </a>
            </li>

            <li class="next">
              <a href="safely-exchange-information">
                <span class="title">
                  Next
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                <span class="label">Safely exchange information with GOV.UK Verify
              </a>
            </li>

          </ul>
        </nav>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 3 of 4: Build your service
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress
          </p>
          {% endif %}

          <p>
            <a href="../get-started">Go back to task list</a>
          </p>


        </aside>

      </div>

    </div>
  </main>
</div>

{% endblock %}
