{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-xl">
          Safely exchange information with GOV.UK Verify
        </h1>

        <p>
          GOV.UK Verify uses Security Assertion Markup Language (SAML) to safely exchange information about users with your service.
        </p>

        <p>
          Any requests for information your service sends to GOV.UK Verify will be sent as SAML messages. Any responses you get back will also be in SAML.
        </p>

        <p>
          You can download a piece of software (known as the 'Verify Service Provider') to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            convert JSON requests you send to GOV.UK Verify into SAML
          </li>
          <li>
            translate any SAML responses GOV.UK Verify sends to your service into JSON
          </li>
        </ul>

        <p>
          This means that if you’re using the Verify Service Provider, you don’t need to be familiar with SAML to use GOV.UK Verify in your service. Your team only needs to manage JSON files.
        </p>

        <img src="../public/images/verify-build-vsp.svg" alt="" class="diagram">

        <p>
          <a href="https://github.com/alphagov/safely-exchange-information">Download the Verify Service Provider</a> and follow the instructions to configure and run it. You need Java 8 to do this.
        </p>

        <h2 class="govuk-heading-m">
          Test your service
        </h2>

        <p>
          Use the <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/saml/samlComplianceTool.html">Compliance Tool</a> to make sure your service:

        <ul class="govuk-list govuk-list--bullet">
          <li>
            works with GOV.UK Verify
          </li>
          <li>
            securely sends and receives information about your users
          </li>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "exchange-information-complete",
              name: "exchange-information-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 3 of 4: Build your service
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress.
          </p>
          {% endif %}

          <p>

          </p>


        </aside>

      </div>

    </div>
  </main>
</div>

{% endblock %}
