{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      	<h1 class="govuk-heading-xl">
          Safely exchange information with GOV.UK Verify
        </h1>

        <p>
          GOV.UK Verify uses Security Assertion Markup Language (SAML) to safely exchange information about users with your service.
        </p>

        <p>
          Any requests for information your service sends to GOV.UK Verify will be sent as SAML messages. Any responses you get back will also be in SAML.
        </p>

        <p>
          You can download a piece of software (known as the 'Verify Service Provider') to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            convert JSON requests you send to GOV.UK Verify into SAML
          </li>
          <li>
            translate any SAML responses GOV.UK Verify sends to your service into JSON
          </li>
        </ul>

        <p>
          This means that if you’re using the Verify Service Provider, you don’t need to be familiar with SAML to use GOV.UK Verify in your service. Your team only needs to manage JSON files.
        </p>

        <img src="../public/images/verify-build-vsp.svg" alt="" class="diagram">

        <p>
          <a href="https://github.com/alphagov/safely-exchange-information">Download the Verify Service Provider</a> and follow the instructions to configure and run it. You need Java 8 to do this.
        </p>

        <h2 class="govuk-heading-m">
          Test the Verify Service Provider
        </h2>

        <p>
          Use the <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/saml/samlComplianceTool.html">Compliance Tool</a> to test that the Verify Service Provider properly works with your service.
        </p>

        <p>
          If it can't, any information your service sends or receives about your users won't be secure.
        </p>

        <form action="../get-started" method="post">

          {% from "button/macro.njk" import govukButton %}
          {% from "input/macro.njk" import govukInput %}

          {% if data['email-address'] %}

            {{ govukInput({
              id: "exchange-information-complete",
              name: "exchange-information-complete",
              value: "true",
              classes: "visually-hidden"
            }) }}

            {{ govukButton({
              "text": "Mark as complete"
            }) }}

          {% endif %}

        </form>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
            <li class="previous">
              <a href="create-matching-service">
                <span class="title">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                </span>
                <span class="label">Create a matching service</span>
              </a>
            </li>

            <li class="next">
              <a href="../connect-to-verify/index">
                <span class="title">
                  Next
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                <span class="label">Get access to environments</span>
              </a>
            </li>

          </ul>
        </nav>

      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s" id="subsection-title">
            You are in step 3 of 4: Build your service
          </h2>

          {% if data['email-address'] %}
          {% else %}
          <p>
            <a href="../early-create-account">Create an account</a> to keep track of your progress.
          </p>
          {% endif %}

          <p>

          </p>


        </aside>

      </div>

    </div>
  </main>
</div>

{% endblock %}
