{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">Connect to Verify</h1>

        <p class="govuk-body">
          Use this service to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>add information about your service</li>
          <li>get certificates</li>
          <li>get access to the Integration and Production environments</li>
        </ul>
        <p class="govuk-body">
          You will be asked to create an account associated with your service. We recommend that this account is created by a developer on the team.
        </p>

        {{ govukButton({
          "text": "Start now",
          "href": "create-account",
          "classes": "govuk-c-button--start govuk-!-mt-r2 govuk-!-mb-r8"
        }) }}

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/before_you_connect/index">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Build your service</span>
                </a>
              </li>

          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
