{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Connect to GOV.UK Verify</span>
          Get access to environments
        </h1>

        <p class="govuk-body">
          Once you've built and hosted your service, you can ask for access to the Integration and Production environments. The GOV.UK Verify team will review your request.
        </p>

        <p class=“govuk-body”>
          Use the Integration environment to test your service's end-to-end user journey. The Integration environment doesn't use information about real users or link to real certified companies' websites.
        </p>

        <p class="govuk-body">
          You should only ask for access to the Production environment when your service is ready to go live.
        </p>

        {{ govukButton({
          "text": "Start now",
          "href": "create-account",
          "classes": "govuk-c-button--start govuk-!-mt-r2 govuk-!-mb-r8"
        }) }}

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
              <li class="previous">
                <a href="/before_you_connect/verify-service-provider">
                  <span class="title">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                      <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    Previous
                  </span>
                  <span class="label">Safely exchange information with GOV.UK Verify</span>
                </a>
              </li>

          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
