{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {% if data['name-of-service'] %}

    {{ govukBreadcrumbs({
      "items": [
        {
          "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
          "href": "/connect_to_verify/tech-task-list"
        }
      ]
    }) }}

  {% else %}


    {{ govukBreadcrumbs({
      "items": [
        {
          "text": "Components",
          "href": "#"
        },
        {
          "text": "GOV.UK Verify",
          "href": "https://connect-to-verify-start.herokuapp.com/verify"
        },
        {
          "text": "Get started",
          "href": "/get_started"
        },
        {
          "text": "Connect to GOV.UK Verify",
          "href": "/connect_to_verify/index"
        }
      ]
    }) }}

  {% endif %}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-l">
          Tell us about your service
        </h1>

        <form action="tech-task-list" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            "label": {
              "text": "Name of service",
              "hintText": "Enter the name as it will appear to users, for example, “view or share your driving licence information”."
            },
            classes: "govuk-!-width-two-thirds",
            id: "name-of-service",
            value: data['name-of-service'],
            name: "name-of-service"
          }) }}

          {{ govukInput({
            "label": {
              "text": "Organisation that delivers the service"
            },
            classes: "govuk-!-width-two-thirds",
            id: "organisation",
            value: data['organisation'],
            name: "organisation"
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}

        </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
