{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content">
      <span class="govuk-c-phase-banner__text">
        <a class="govuk-link" href="https://connect-to-verify-start.herokuapp.com/verify">Sign out</a>
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Connect to GOV.UK Verify
        </h1>

        <ol class="instruction-list steps">

          <li class="instruction-list-item divider">

            <h2 class="instruction-list-item-body"><span class="step-number" role="presentation">1.</span>Before you connect</h2>
            <ul class="instruction-list-item-top">
              <li>
                <a href="tasks/service_content">Add your service’s content</a>
              </li>
              <li>
                <a href="">Check your setup is working</a>
              </li>
            </ul>
          </li>

          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">2.</span>Connect to Integration</h2>
      			<ul class="instruction-list-item-top">
              <li>
                <a href="tasks/get_access_to_integration">Get access to Integration environment</a>
      				</li>
              <li>
                <a href="#">Test in Integration</a>
              </li>
      				<li>
      					<a href="#">Deploy to Integration</a>
      				</li>
      			</ul>
      		</li>
          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">3.</span>Connect to Production</h2>
      			<ul class="instruction-list-item-top">
              <li>
                <a href="#">Get certificates</a>
      				</li>
              <li>
                <a href="tasks/get_access_to_production">Get access to Production environment</a>
      				</li>
              <li>
                <a href="#">Test in Production</a>
              </li>
      				<li>
      					<a href="#">Deploy to Production</a>
      				</li>
      			</ul>
      		</li>
          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">4.</span>Before you go live</h2>
      			<ul class="instruction-list-item-top">
              <li>
                <a href="tasks/sign_agreement">Sign an agreement with GOV.UK Verify</a>
      				</li>
      			</ul>
      		</li>
      	</ol>

      </div>
    </div>
  </main>
</div>

{% endblock %}
