{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content">
      <span class="govuk-c-phase-banner__text">
        <a class="govuk-link" href="https://connect-to-verify-start.herokuapp.com/verify">Sign out</a>
      </span>
    </p>
  </div>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Connect ‘{{data['name-of-service']}}’ to GOV.UK Verify
        </h1>

        <ol class="instruction-list steps">

          <li class="instruction-list-item divider">

            <h2 class="instruction-list-item-body"><span class="step-number" role="presentation">1.</span>Before you start</h2>
            <ul class="instruction-list-item-top">
              <li>
                {% if data['name-of-service'] %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14">
                    <path id="Unnamed" fill="black" stroke="black" stroke-width="0" d="M 0.00,10.00            L 4.00,10.00 4.00,0.00 7.00,0.00 7.00,13.00 0.00 13.00z" transform="translate(2, 0.5) rotate(40, 7.50, 7.00)"/>
                  </svg>
                {% endif %}
                <a href="/connect_to_verify/service-details">Tell us about your service</a>
              </li>
              <li>
                {% if data['other-ways'] %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14">
                    <path id="Unnamed" fill="black" stroke="black" stroke-width="0" d="M 0.00,10.00            L 4.00,10.00 4.00,0.00 7.00,0.00 7.00,13.00 0.00 13.00z" transform="translate(2, 0.5) rotate(40, 7.50, 7.00)"/>
                  </svg>
                {% endif %}
                <a href="tasks/service-content-other-ways">Describe other ways to use your service</a>
              </li>
              <!--This is the compliance tool bit, might go outside the user account
              <li>
                <a href="">Check your setup is working</a>
              </li> -->
            </ul>
          </li>

          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">2.</span>Connect to Integration</h2>
      			<ul class="instruction-list-item-top">
              <li>
                <a href="tasks/integration-overview">Get access to Integration environment</a>
      				</li>
              <li>
                <a href="../../page-doesnt-exist">Run end-to-end tests in Integration</a>
              </li>
      				<li>
      					<a href="../../page-doesnt-exist">Deploy to Integration</a>
      				</li>
      			</ul>
      		</li>
          <li class="instruction-list-item divider">
      			<h2 class="instruction-list-item-body"><span class="step-number" role="presentation">3.</span>Connect to Production</h2>
      			<ul class="instruction-list-item-top">
              <li>
                <a href="../../page-doesnt-exist">Get certificates</a>
      				</li>
              <li>
                <a href="tasks/get_access_to_production">Get access to Production environment</a>
      				</li>
              <li>
                <a href="tasks/sign_agreement">Sign an agreement with GOV.UK Verify</a>
      				</li>
      				<li>
      					<a href="../../page-doesnt-exist">Deploy to Production</a>
      				</li>
      			</ul>
      		</li>
      	</ol>

      </div>
    </div>
  </main>
</div>

{% endblock %}
