{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-xl">Build your service to work with GOV.UK Verify</h1>

        <p class="govuk-body">
         You need to consider how you will build your service to connect to Verify.
        </p>

        <h3 class="govuk-heading-m">Set up the Verify Service Provider</h3>
        <p class="govuk-body">
          Verify uses SAML to securely exchange information about identities. The Verify Service Provider helps create SAML requests and translate responses from SAML to JSON, which is easier to read.
        </p>
        <p class="govuk-body">
          <a href="#">Download the Verify Service Provider</a>
        </p>

        <h2 class="govuk-heading-m">Decide if you need to use matching</h2>
        <p class="govuk-body">
          Matching is a process where you make sure that a verified user is the same one as the one on your database. There are two different levels of matching you can use. Some services do not need matching at all.
        </p>

        <table class="govuk-c-table">
          <caption class="govuk-c-table__caption visually-hidden">Decide if you need matching</caption>
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col">Service needs to link to existing data</th>
              <th class="govuk-c-table__header" scope="col">Service needs to keep users' data</th>
              <th class="govuk-c-table__header" scope="col">Level of matching needed</th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell ">No</td>
              <td class="govuk-c-table__cell ">No</td>
              <td class="govuk-c-table__cell ">Not needed</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell ">No</td>
              <td class="govuk-c-table__cell ">Yes</td>
              <td class="govuk-c-table__cell ">Simple matching</td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell ">Yes</td>
              <td class="govuk-c-table__cell ">Yes</td>
              <td class="govuk-c-table__cell ">Full matching</td>
            </tr>
          </tbody>
        </table>

        <!-- <h2 class="govuk-heading-m">Download the code</h2>

        <p class="govuk-body">
          Something about how you can set up the code to run GOV.UK Verify locally.
        </p>
        <a href="" class="govuk-body">Download the code</a>
        <br><br> -->

        <details>
          <summary class="govuk-body"><a href=""><span class="summary">How to build a service with simple matching</span></a></summary>
          <div class="panel panel-border-narrow">
            <h3 class="govuk-heading-s">Build a local matching service</h3>
            <p class="govuk-body">
              The local matching service tries to match a user’s assured identity with a record in the government service’s data sources. This allows the government service to interact with the user. You need to build this yourself.
            </p>
            <p class="govuk-body">
              <a href="">Download the local matching service</a>
            </p>
          </div>
        </details>

        <details>
          <summary class="govuk-body"><a href=""><span class="summary">How to build a service with full matching</span></a></summary>
          <div class="panel panel-border-narrow">
            <h3 class="govuk-heading-s">Build a local matching service</h3>
            <p class="govuk-body">
              The local matching service tries to match a user’s assured identity with a record in the government service’s data sources. This allows the government service to interact with the user. You need to build this yourself.
            </p>
            <p class="govuk-body">
              <a href="">Download the local matching service</a>
            </p>
            <h3 class="govuk-heading-s">Set up Matching Service Adapter</h3>
            <p class="govuk-body">
              The matching service adapter converts SAML, the language to communicate with the Verify hub into JSON for your service and vice versa. It also performs encryption, decryption, and signing of SAML messages.
            </p>
            <p class="govuk-body">
              <a href="">Download the local matching service</a>
            </p>
          </div>
        </details>


        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
            <li class="previous">
              <a href="/design_and_build/index">
                <span class="title">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                </span>
                <span class="label">Design your service</span>
              </a>
            </li>

            <li class="next">
              <a href="/connect_to_verify/index">
                <span class="title">
                  Next
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                <span class="label">Connect your service
              </a>
            </li>

          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
