{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-xl">Matching verified identities with existing data</h1>

        <p class="govuk-body">
         After a user has been verified by a certified company, your service will have access to their name, address and date of birth. You might then need to use these details to match their identity to a record in your database.
        </p>

        <div class="panel govuk-body">
          <p>
            <span>Example</span>
            When a user <a href=”https://www.gov.uk/view-driving-licence”>views their driving licence information</a>, the Driver and Vehicle Licensing Agency (DVLA) will match their details to a record in their database of people with driving licences.
            <br><br>
            This means they can be sure the user who’s trying to use the service is the same person they have a record of.
          </p>
        </div>

        <p class="govuk-body">
          To do this, you must:
        </p>
        <ul class="govuk-body govuk-list--bullet">
          <li>build a local matching service</li>
          <li>set up the Matching Service Adapter - this lets your local matching service communicate with GOV.UK Verify</li>
        </ul>

        <p class="govuk-body">
          If you're not going to be working with an existing database, you'll still need to build a local matching service and set up the Matching Service Adapter. This is so your can service can tell GOV.UK Verify that you don't need to match the user's identity.
        </p>
        <p class="govuk-body">
          You must <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/matchingstrategy.html"> define your matching strategy</a> before you start. 
        </p>

        <h2 class="govuk-heading-m">How to build a local matching service</h2>
        <p class="govuk-body">
          You must build your own local matching service and host it on your own infrastructure. 
        </p>

        <ul class="govuk-body govuk-list--number">
          <li>Look at an <a href="https://github.com/alphagov/verify-local-matching-service-example">example of a local matching service</a> to find out how it should work.</li>
          <li>Build your local matching service, making sure it can <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/buildmatchingservice.html#respondjsonmr">respond to JSON matching requests</a>.</li>
          <li><a href="https://github.com/alphagov/verify-matching-service-adapter/tree/master/verify-matching-service-test-tool">Download the matching service test tool</a> to make sure what you’ve built can find and match records correctly. </li>
        </ul>

        <h2 class="govuk-heading-m">How to set up the Matching Service Adapter</h2>

        <p class="govuk-body"><a href="https://github.com/alphagov/verify-matching-service-adapter">Download the Matching Service Adapter</a> and follow the instructions on how to install and configure it.</p>

        <!-- We should add the testing tool somewhere? -->

      </div>

    </div>
  </main>
</div>

{% endblock %}
