{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-xl">
          <span class="govuk-caption-xl">Build your service</span>
          Match verified identities with existing data
        </h1>

        <p class="govuk-body">
          After a user has been verified by a certified company, your service will have access to their name, address and date of birth. You might need to use this information to match their identity to a record in your database.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            When a user views their driving licence information, the Driver and Vehicle Licensing Agency (DVLA) will match their details to a record in their database of people with driving licences.</p>
            <p>By doing this they can be sure the user is trying to view their own driving licence information and not someone else's.
          </p>
        </div>

        <p class="govuk-body">
          You need to make sure your service can match verified identities with existing data even if it doesn't currently need to. For example, you might want to collect the data now and use it for matching later or store the information for auditing purposes.
        </p>

        <h2 class="govuk-heading-m">
          Decide how you'll match identities and records
        </h2>

        <p class="govuk-body">
          Before you build your matching service, you must decide how you'll match identities and records. This is known as <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/matchingstrategy.html">deciding a matching strategy</a>.
        </p>

        <p class="govuk-body">
          You need to decide what counts as a successful match. It's possible an identity that's been verified by a certified company will be slightly different to a record in your database. This could be because your database contains incorrect or out-of-date information. You should decide if things like spelling mistakes will affect if an identity can be matched.
        </p>

        <div class="panel govuk-body govuk-!-mb-r6 govuk-!-mt-r6">
          <p>
            <span>Example</span>
            Jonathan McDonald is successfully verified by a certified company. The service he wants to use tries to match this verified identity against a record in their database.</p>
            <p>The only record they find is for a Johnathan MacDonald. This is the same user, but the identity and record don't match because their name is spelt differently.</p>
            <p>There are often spelling mistakes in this particular database because the data is collected over the phone. The service decides that spelling mistakes don't automatically disprove a match. This match is successful and Jonathan McDonald can continue to use the service.
          </p>
        </div>

        <p class="govuk-body">
          You must also decide what will happen if:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an identity is successfully matched to a record in your database</li>
          <li>an identity is matched to more than one record in your database</li>
          <li>no match is found</li>
        </ul>

        <nav class="pagination" role="navigation" aria-label="Pagination">
          <ul>
            <li class="previous">
              <a href="index">
                <span class="title">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  Previous
                </span>
                <span class="label">Find out what you need to build</span>
              </a>
            </li>

            <li class="next">
              <a href="build-matching-service">
                <span class="title">
                  Next
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </span>
                <span class="label">Build a matching service
              </a>
            </li>

          </ul>
        </nav>

      </div>

    </div>
  </main>
</div>

{% endblock %}
