{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-xl">
          Create self-signed certificates
        </h1>

        <p class="govuk-body">
          To use the SAML compliance tool or the Integration environment, you need to generate and sign 4 certificates. The certificates are:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>encryption certificate for your service</li>
          <li>signing certificate for your service</li>
          <li>encryption certificate for your Matching Service Adapter</li>
          <li>signing certificate for your Matching Service Adapter</li>
        </ul>

        <p class="govuk-body">
          You will need to create new certificates every time you use the SAML compliance tool or connect to the Integration environment.
        </p>


        <h2 class="govuk-heading-m">
          Generate certificates
        </h2>

        <p class="govuk-body">
          You need to install OpenSSL to generate the certificates.
        </p>

        <p class="govuk-body">
          Run the following commands in order, where:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><code class="code">$name</code> is the filename of the key or certificate you're generating</li>
          <li><code class="code">$commonName</code> is a description of how the certificate will be used</li>
        </ul>

        <p class="govuk-body">
          <code class="code">
            # Generate a private key:
            <br>
            openssl genrsa -des3 -passout pass:x -out "$name.pass.key" 2048
            <br>
            openssl rsa -passin pass:x -in "$name.pass.key" -out "$name.key"
            <br><br>
            # Generate a certificate signing request (CSR):
            <br>
            openssl req -batch -new -subj "/CN=$commonName" -key "$name.key" -out "$name.csr"
            <br><br>
            # Generate a self signed certificate:
            <br>
            openssl x509 -req -sha256 -in "$name.csr" -signkey "$name.key" -out "$name.crt"
            <br><br>
            # Convert the private key to .pk8 format:
            <br>
            openssl pkcs8 -topk8 -inform PEM -outform DER -in "$name.key" -out "$name.pk8" -nocrypt
            <br><br>
            # Clean up the files you don’t need anymore:
            <br>
            rm "$name.pass.key"
            <br>
            rm "$name.csr"
            <br>
            rm "$name.key"
          </code>
        </p>


      </div>
    </div>
  </main>
</div>

{% endblock %}
