{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get_started"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      	<h1 class="govuk-heading-xl">Safely exchange information with GOV.UK Verify</h1>

        <p>
          GOV.UK Verify uses Security Assertion Markup Language (SAML) to safely exchange information about users with your service.
        </p>

        <p>The Verify Service Provider helps your service send SAML requests to GOV.UK Verify. It also makes it easier to receive and translate SAML responses.</p>

        <p><a href="https://github.com/alphagov/verify-service-provider">Download the Verify Service Provider</a> and follow the instructions to configure and run it. You need Java 8 to do this.</p>

        <h2 class="govuk-heading-m">Make sure your service works with GOV.UK Verify</h2>

        <p>
          You should <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/saml/samlComplianceTool.html">test your service</a> to make sure it can properly handle SAML requests and responses.
        </p>

        <p>
          If it can’t, any information your service sends or receives about your users won’t be secure.
        </p>

        <p>
          You need to <a href="https://connecting-to-verify-prototype.herokuapp.com/before_you_connect/compliance-certificates">create certificates</a> before you can use the compliance tool.
        </p>
        <br>
        <a href="/before_you_connect/index">Return to build your service</a>

      </div>

    </div>
  </main>
</div>

{% endblock %}
