{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      },
      {
        "text": "Get started",
        "href": "/get-started"
      },
      {
        "text": "Connect to GOV.UK Verify",
        "href": "/connect-to-verify/index"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Create an account
        </h1>

        {% from "input/macro.njk" import govukInput %}

        {{ govukInput({
          "label": {
            "text": "Email",
            "hintText": "Must be from a government organisation"
          },
          classes: "govuk-!-width-two-thirds",
          id: "email-address",
          name: "email-address"
        }) }}

        {{ govukInput({
          "label": {
            "text": "Mobile number",
            "hintText": "We'll send you a security code by text message"
          },
          classes: "govuk-!-width-two-thirds",
          id: "mobile-number",
          name: "mobile-number"
        }) }}

        {{ govukInput({
          "label": {
            "text": "Password",
            "hintText": "Must be at least 10 characters"
          },
          classes: "govuk-!-width-two-thirds",
          id: "password",
          name: "password",
          type: "password"
        }) }}

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          "text": "Continue",
          "href": "tell-us-about-your-service"
        }) }}

      </div>
    </div>
  </main>
</div>

{% endblock %}
