{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {% if data['name-of-service'] %}

    {{ govukBreadcrumbs({
      "items": [
        {
          "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
          "href": "/connect-to-verify/tech-task-list"
        }
      ]
    }) }}

  {% else %}


    {{ govukBreadcrumbs({
      "items": [
        {
          "text": "Components",
          "href": "#"
        },
        {
          "text": "GOV.UK Verify",
          "href": "https://connect-to-verify-start.herokuapp.com/verify"
        },
        {
          "text": "Get started",
          "href": "/get-started"
        },
        {
          "text": "Connect to GOV.UK Verify",
          "href": "/connect-to-verify/index"
        }
      ]
    }) }}

  {% endif %}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Tell us about your service
        </h1>

        <form action="tech-task-list" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Name of service"
            },
            hint: {
              text: "Enter the name as it will appear to users, for example, “view or share your driving licence information”.",
              classes: "govuk-!-width-two-thirds"
            },
            id: "name-of-service",
            name: "name-of-service",
            value: data['name-of-service'],
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            label: {
              text: "Organisation that delivers the service"
            },
            id: "organisation",
            name: "organisation",
            value: data['organisation'],
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukButton({
            "text": "Continue"
          }) }}

        </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
