{% extends "product.html" %}

{% set homepage_url = "/product-page" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% block breadcrumbs %}
    {% include "includes/breadcrumbs.html" %}
  {% endblock %}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sign a memorandum of understanding</h1>

        <p>
          Before you can connect to the Production environment, you need to sign the GOV.UK Verify memorandum of understanding. This confirms that you understand the responsibilities involved in using GOV.UK Verify with your live service.
        </p>

        <p>
          When you are ready to do this:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            email <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> to request a copy
          </li>
          <li>
            sign the memorandum of understanding and return it to us
          </li>
        </ul>

        <div class="govuk-!-mt-r5 govuk-!-mb-r0">
          <a href="/get-started">Return to overview</a>
        </div>

    </div>

  </main>
</div>

{% endblock %}
