{% extends "product.html" %}

{% set homepage_url = "/product-page" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "/product-page"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Connecting to GOV.UK Verify
        </h1>

        <ol class="task-list">
          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">1.</span>Check if you need GOV.UK Verify
          </h2>
          <p>
            Before you start connecting your service to GOV.UK Verify, <a href="/check-if-you-need-verify/how-it-works">find out how GOV.UK Verify works</a> and <a href="/check-if-you-need-verify/index">if it’s right for your service</a>.
          </p>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">2.</span> Choose the right level of assurance
          </h2>
          <p>
            GOV.UK Verify offers different <a href="/check-if-you-need-verify/assurance">levels of assurance</a> (LOAs). To help choose the right LOA for your service, <a href="/check-if-you-need-verify/assess-the-risk">carry out a risk assessment</a> and send it to the GOV.UK Verify team. The team will get in touch with you within a week to discuss the right LOA for your service.
          </p>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">3.</span> Sign GOV.UK Verify's agreements
          </h2>
          <p>
            Your organisation needs to sign GOV.UK Verify’s agreements to show that you agree to the responsibilities and costs involved in using GOV.UK Verify with your service.
          </p>
          <p>
            Contact GOV.UK Verify on <a href="mailto:idasupport@digital.cabinet-office.gov.uk">idasupport@digital.cabinet-office.gov.uk</a> to request a copy.
          </p>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">4.</span> Design and research your user journey with GOV.UK Verify
          </h2>
          <p>
            Find out <a href="/design-and-research/index">how to fit GOV.UK Verify into your service’s user journey</a>, and carry out user research to test <a href="/design-and-research/prototype">how well the journey works with your users</a>.
          </p>

          <h2 class="govuk-heading-m">
              <span class="task-list-section-number">5.</span> Build your connection to GOV.UK Verify
          </h2>
          <p>
            Your technical team can find step-by-step information on connecting to GOV.UK Verify by reading the <a href="https://verify-tech-docs.cloudapps.digital">technical documentation</a>. The time taken to connect will vary depending on your team and the complexity of your service.
          </p>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">6.</span> Keep your GOV.UK Verify connection up to date
          </h2>
          <p>
            Once your connection is live, your technical team must <a href="https://verify-tech-docs.cloudapps.digital/keep-connection-up-to-date/rotate-keys/">replace certificates when they are due to expire</a> and make sure you’re running the <a href="https://github.com/alphagov/verify-service-provider/releases">most recent version of the Verify service provider</a>. You can also keep up to date with <a href="https://verifystatus.digital.cabinet-office.gov.uk/">GOV.UK Verify’s status</a> by subscribing to updates.
          </p>

        </ol>
      </div>

  </main>
</div>

{% endblock %}
