{% extends "product.html" %}

{% set homepage_url = "/product-page" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "/product-page"
      }
    ]
  }) }}

  <main role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Connecting to GOV.UK Verify
        </h1>

        <ol class="task-list">
          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">1.</span>Check if you need GOV.UK Verify
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="/check-if-you-need-verify/how-it-works">How GOV.UK Verify works</a>
            </li>
            <li>
              <a href="/check-if-you-need-verify/index">Find out if GOV.UK Verify is right for your service</a>
            </li>
            <li>
              <a href="/check-if-you-need-verify/assess-the-risk">Assess the risk of identity fraud to your service</a>
            </li>
            <li>
              <a href="/check-if-you-need-verify/assurance">Choose the right level of assurance</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">2.</span> Plan to build your service
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="https://verify-tech-docs.cloudapps.digital/planning-your-connection/your-responsibilities/#your-responsibilities">Your responsibilities</a>
            </li>
            <li>
              <a href="https://verify-tech-docs.cloudapps.digital/planning-your-connection/choose-technology/#choose-technology">Choose technology</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">3.</span> Design and research your service
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="/design-and-research/index">Design your service</a>
            </li>
            <li>
              <a href="/design-and-research/prototype">Carry out research using a GOV.UK Verify prototype</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
              <span class="task-list-section-number">4.</span> Build your service
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="https://verify-tech-docs.cloudapps.digital/develop-locally/#local-development">Local development</a>
            </li>
            <li>
              <a href="#">Development in Integration</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">5.</span> Go live
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="/go-live/sign-mou">Sign a memorandum of understanding</a>
            </li>
            <li>
              <a href="#">Release to Production</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">
            <span class="task-list-section-number">6.</span> Manage your live service
          </h2>
          <ul class="govuk-list">
            <li>
              <a href="#">Rotate your keys</a>
            </li>
            <li>
              <a href="https://verifystatus.digital.cabinet-office.gov.uk/">Sign up for status updates</a>
            </li>
            <li>
              <a href="#">Check for releases and new features</a>
            </li>
          </ul>

        </ol>
      </div>

  </main>
</div>

{% endblock %}
