{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Components",
        "href": "#"
      },
      {
        "text": "GOV.UK Verify",
        "href": "https://connect-to-verify-start.herokuapp.com/verify"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="govuk-heading-xl">
          Get started
        </h1>

        <ol class="task-list govuk-body">
          <h2 class="task-list-section">
            <span class="task-list-section-number">1.</span>Find out if you need GOV.UK&nbsp;Verify
          </h2>
          <div class="task-list-items">
            <p>
              You can use GOV.UK Verify if you need to prove users’ identity as part of your service.
            </p>
            <ul class="govuk-list">
              <li><a href="/check_i_need_verify/index">Check if GOV.UK Verify is right for your service</a></li>
            </ul>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">2.</span> Design and test your service
          </h2>
          <div class="task-list-items">
            <p>
              Find out how to design your service to work with GOV.UK&nbsp;Verify.
            </p>
            <ul class="govuk-list">
              <li><a href="/check_i_need_verify/assurance">Choose the right level of assurance</a></li>
              <li><a href="/design_and_build/index">Design your service to work with GOV.UK Verify</a></li>
            </ul>
          </div>

          <h2 class="task-list-section">
              <span class="task-list-section-number">3.</span> Build your service
          </h2>
          <div class="task-list-items">
            <p>
              To connect to GOV.UK Verify, you will need the right team in place and have a plan for how you will build your service.
            </p>
            <ul class="govuk-list">
              <li><a href="/before_you_connect/index">Build your service</a></li>
              <li><a href="/before_you_connect/matching">Matching verified identities with existing data</a></li>
              <li><a href="/connect_to_verify/index">Connect your service</a></li>
            </ul>
          </div>


        </ol>
      </div>

    </div>
  </main>
</div>

{% endblock %}
