{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        Latest prototype
      </h1>
      <p>
        <a href="/product-page" class="govuk-button">Start prototype</a>
      </p>
      <h1 class="govuk-heading-m">
        Previous iterations
      </h1>
      <ul class="govuk-list">
        <li>
          <a href="https://connect-to-verify-5.herokuapp.com">December 2018</a>
        </li>
        <li>
          <a href="https://connect-to-verify-4.herokuapp.com">November 2018</a>
        </li>
        <li>
          <a href="https://connect-to-verify-3.herokuapp.com">October 2018</a>
        </li>
        <li>
          <a href="https://connect-to-verify-2.herokuapp.com">May 2018</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
