<!-- The HTML for the product page is in product-page/index.html -->

{% extends "layout.html" %}

{% import "includes/macros.html" as macro %}

{% block page_title %}
  {{ productName }}
{% endblock %}

{% block header_class %}
  with-proposition govuk-product
{% endblock %}

{% block header_logo %}
  {{ macro.productName(productName, phase) }}
{% endblock %}

{% block proposition_header %}
  {{ macro.headerNav(homepage_url, navItems, section) }}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
