{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content">
      <span class="govuk-c-phase-banner__text">
        {{ data["name-of-service"] }} <a class="govuk-link" href="https://connect-to-verify-start.herokuapp.com/verify">Sign out</a>
      </span>
    </p>
  </div>
  <a href="certificates" class="govuk-c-back-link">Back</a>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">
          Send certificate signing requests
        </h1>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--full">

        <table class="govuk-c-table">
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col"></th>
              <th class="govuk-c-table__header" scope="col"></th>
              <th class="govuk-c-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Encryption certificate for your service</td>
              <td class="govuk-c-table__cell ">
                {% if data['encryption-cert-service'] %}
                  {{data['encryption-cert-service']}}
                {% else %}
                  <a href="certificates-encryption-service">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['encryption-cert-service'] %}
                 <a href="certificates-encryption-service">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Signing certificate for your service</td>
              <td class="govuk-c-table__cell ">
                {% if data['signing-cert-service'] %}
                  {{data['signing-cert-service']}}
                {% else %}
                  <a href="certificates-signing-service">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['signing-cert-service'] %}
                 <a href="certificates-signing-service">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Encryption certificate for your Matching Service Adapter</td>
              <td class="govuk-c-table__cell ">
                {% if data['encryption-cert-msa'] %}
                  {{data['encryption-cert-msa']}}
                {% else %}
                  <a href="certificates-encryption-msa">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['encryption-cert-msa'] %}
                 <a href="certificates-encryption-msa">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Signing certificate for your Matching Service Adapter</td>
              <td class="govuk-c-table__cell ">
                {% if data['signing-cert-msa'] %}
                  {{data['signing-cert-msa']}}
                {% else %}
                  <a href="certificates-signing-msa">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['signing-cert-msa'] %}
                 <a href="certificates-signing-msa">Edit</a>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          "text": "Send",
          "href": "certificates-sent"
        }) }}


      </div>
    </div>
  </main>
</div>

{% endblock %}
