{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper govuk-body">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">
          Run end-to-end tests
        </h1>


        {% from "warning-text/macro.njk" import govukWarningText %}
        {{ govukWarningText(
          {
            "text": "You must not extend penetration testing to the hub domain. Only run penetration tests on your own system.",
            "iconFallbackText": "Warning"
          })
        }}

        <p>
          As a minimum, test the following end-to-end user scenarios:
        </p>
        <ul class="govuk-list--bullet">
          <li>authentication success and authentication failure </li>
          <li>match and no-match </li>
          <li>all the possible outcomes of your matching service, including <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/matchingstrategy.html#cycle3">Cycle 3</a> and <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/createnewaccounts.html#createnewaccounts">user account creation</a>, if implemented.</li>
        </ul>

        <h2 class="govuk-heading-m">Create test users</h2>

        <p>Create test users and load them into the test identity provider. Add the same test users to your local matching datastore in the integration environment.</p>

        <p>
          Make an HTTP POST to the user administration API with a JSON document containing an array of user data.
        </p>
        <p>
          For example:
        </p><p>
          <code class="code">curl --user '{username}:{password}' -H 'Content-Type: application/json' -d @create-user.json https://idp-stub-integration.ida.digital.cabinet-office.gov.uk/{idp-name}/users</code>
        </p>

        <p><code class="code">username</code> and <code class="code">password</code> are your connecting to GOV.UK credentials.</p>

        <p><code class="code">idp-name</code> is the name of the test identity provider. Completing a journey in the integration environment will help you find this. On the identity provider page, you’ll see your designated <code class="code">idp-name</code> in the url.</p>

        <p><code class="code">create-user.json</code> is the name of the file containing an array of test user data in JSON format, for example:</p>
        <p>
        <code class="code">
        [{
          "pid": "00754148-902f-4d94-b0db-cb1f7eb3fd84",
          "username": "user1",
          "password": "password",
          "firstName": {
              "value": "Fred",
              "verified": true
          },
          "gender": {
              "value": "MALE",
              "verified": false
          },
          "dateOfBirth": {
              "value": "1970-01-01",
              "verified": true
          },
          "address": {
              "verified": true,
              "postCode": "WC2B 6NH",
              "lines": [
                  "Aviation House",
                  "London"
              ]
          },
          "levelOfAssurance": "LEVEL_2",
          "surnames": [{
              "value": "Smith",
              "verified": true
          }]
      }]
    </code></p><br><br>


  </div>
  <div class="govuk-o-grid__item govuk-o-grid__item--full">
    <table class="govuk-c-table">
      <caption class="govuk-c-table__caption">Possible values</caption>
      <thead class="govuk-c-table__head">
        <tr class="govuk-c-table__row">
          <th class="govuk-c-table__header" scope="col">Attribute</th>
          <th class="govuk-c-table__header" scope="col">Value</th>
        </tr>
      </thead>
      <tbody class="govuk-c-table__body">
        <tr class="govuk-c-table__row">
          <td class="govuk-c-table__cell" scope="row">levelOfAssurance</td>
          <td class="govuk-c-table__cell ">
            <p>Level of assurance:</p>
            <ul class="govuk-list--bullet">
              <li>LEVEL_X</li>
              <li>LEVEL_1</li>
              <li>LEVEL_2</li>
              <li>LEVEL_3</li>
              <li>LEVEL_4</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-c-table__row">
          <td class="govuk-c-table__cell" scope="row">
            firstName
            surnames
            dateOfBirth
          </td>
          <td class="govuk-c-table__cell ">
            <p>These attributes can contain the following fields:</p>
            <ul class="govuk-list--bullet">
              <li>value (variable type)</li>
              <li>DateTime from (the time when this value started - eg changed name to this - Optional)</li>
              <li>DateTime to (The time after which this value ended - eg changed name from this - Optional)</li>
              <li>boolean verified</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-c-table__row">
          <td class="govuk-c-table__cell" scope="row">gender</td>
          <td class="govuk-c-table__cell ">
            <p>Gender must be one of the following values:</p>
            <ul class="govuk-list--bullet">
              <li>FEMALE</li>
              <li>MALE</li>
              <li>NOT_SPECIFIED</li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-c-table__row">
          <td class="govuk-c-table__cell" scope="row">address</td>
          <td class="govuk-c-table__cell ">
            <p>Address consists of:</p>
            <ul class="govuk-list--bullet">
              <li>boolean verified</li>
              <li>DateTime fromDate</li>
              <li>DateTime toDate (Optional)</li>
              <li>String postCode (Optional)</li>
              <li>List<String> lines</String>
              <li>String internationalPostCode (Optional)</li>
              <li>String uprn (Optional)</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br>

  </div><br>
  <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h2 class="govuk-heading-m">View test users</h2>

        <p>GET the users resource from the relevant test identity provider.</p>

        <p>For example:<code class="code">curl https://idp-stub-integration.ida.digital.cabinet-office.gov.uk/{idp-name}/users where idp-name is the name of the test identity provider.</code></p>

        <p>The test users are returned in JSON format. To view the page you must provide your credentials for managing test users. You create the credentials by submitting the environment access form.</p>

        <h2 class="govuk-heading-m">Delete test users</h2>

        <p>To delete test users from the test identity provider, POST a JSON document to the user administration API containing the usernames you want to delete.
        </p>

        <p>
          For example:
          <code class="code">curl --data '{"username": "user1"}'  --user '{username}:{password}' -H 'Content-Type: application/json'  https://idp-stub-integration.ida.digital.cabinet-office.gov.uk/{idp-name}/users/delete</code>
        </p>

        <p><code class="code">username</code> and <code class="code">password</code> are your credentials for managing test users.</p>
        <br>

        <form action="/connect_to_verify/tech-task-list" method="post">

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            id: "integration-test-result",
            name: "integration-test-result",
            value: "true",
            classes: "visually-hidden"
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            "text": "Mark as complete"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
