{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper govuk-body">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">
          Run end-to-end tests
        </h1>


        {% from "warning-text/macro.njk" import govukWarningText %}
        {{ govukWarningText(
          {
            "text": "You must not extend penetration testing to the hub domain. Only run penetration tests on your own system.",
            "iconFallbackText": "Warning"
          })
        }}

        <p>
          As a minimum, test the following end-to-end user scenarios:
        </p>
        <ul class="govuk-list--bullet">
          <li>authentication success and authentication failure </li>
          <li>match and no-match </li>
          <li>all the possible outcomes of your matching service, including <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/matchingstrategy.html#cycle3">Cycle 3</a> and <a href="http://alphagov.github.io/rp-onboarding-tech-docs/pages/matching/createnewaccounts.html#createnewaccounts">user account creation</a>, if implemented.</li>
        </ul>

        <p><a href="integration-run-end-to-end-tests">Read about how to run end to end tests for integration</a></p>

        <h2 class="govuk-heading-m">Share your results</h2>

        <p>To make sure everything is set up correctly we need to see screenshots or a video walkthrough for the journeys you test. The images must include the URL.</p>


        <form action="integration-test-results-sent" method="post">

          {% from "file-upload/macro.njk" import govukFileUpload %}

          {{ govukFileUpload({
            id: 'encryption-cert-service',
            name: 'encryption-cert-service',
            label: {
              text: 'Upload image or video files'
            }
          }) }}

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            id: "integration-test-result",
            name: "integration-test-result",
            value: "true",
            classes: "visually-hidden"
          }) }}

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            "text": "Upload and continue"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
