{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content">
      <span class="govuk-c-phase-banner__text">
        {{ data["name-of-service"] }} <a class="govuk-link" href="https://connect-to-verify-start.herokuapp.com/verify">Sign out</a>
      </span>
    </p>
  </div>
  <a href="../tech-task-list" class="govuk-c-back-link">Back</a>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">
          Get access to Production environment
        </h1>

        <p class="govuk-body">
          Give details about your setup so that we can connect you to the Production environment.
        </p>

      </div>

      <div class="govuk-o-grid__item govuk-o-grid__item--full">

        <table class="govuk-c-table">
          <thead class="govuk-c-table__head">
            <tr class="govuk-c-table__row">
              <th class="govuk-c-table__header" scope="col"></th>
              <th class="govuk-c-table__header" scope="col"></th>
              <th class="govuk-c-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Start page URL</td>
              <td class="govuk-c-table__cell ">
                {% if data['--'] %}
                 {{data['--']}}
                {% else %}
                  <a href="#">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['--'] %}
                 <a href="#">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Entity ID</td>
              <td class="govuk-c-table__cell ">
                {% if data['--'] %}
                 {{data['--']}}
                {% else %}
                  <a href="#">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['--'] %}
                 <a href="#">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">SAML response URL</td>
              <td class="govuk-c-table__cell ">
                {% if data['--'] %}
                 {{data['--']}}
                {% else %}
                  <a href="#">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['--'] %}
                 <a href="#">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Matching URL</td>
              <td class="govuk-c-table__cell ">
                {% if data['--'] %}
                 {{data['--']}}
                {% else %}
                  <a href="#">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['--'] %}
                 <a href="#">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">User account creation URL</td>
              <td class="govuk-c-table__cell ">
                {% if data['--'] %}
                 {{data['--']}}
                {% else %}
                  <a href="#">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['--'] %}
                 <a href="#">Edit</a>
                {% endif %}
              </td>
            </tr>
            <tr class="govuk-c-table__row">
              <td class="govuk-c-table__cell first" scope="row">Test user data</td>
              <td class="govuk-c-table__cell ">
                {% if data['--'] and data['--'] %}
                 Username: {{data['--']}}
                 <br>
                 Password: {{data['--']}}
                {% else %}
                  <a href="#">Answer required</a>
                {% endif %}
              </td>
              <td class="govuk-c-table__cell action">
                {% if data['--'] and data['--'] %}
                 <a href="#">Edit</a>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        {% from "button/macro.njk" import govukButton %}

        {{ govukButton({
          "text": "Get access",
          "href": "integration-requested"
        }) }}


      </div>
    </div>
  </main>
</div>

{% endblock %}
