{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <div class="govuk-c-phase-banner">
    <p class="govuk-c-phase-banner__content">
      <span class="govuk-c-phase-banner__text">
        {{ data["name-of-service"] }} <a class="govuk-link" href="https://connect-to-verify-start.herokuapp.com/verify">Sign out</a>
      </span>
    </p>
  </div>
  <a href="../tech-task-list" class="govuk-c-back-link">Back</a>

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">
          Describe other ways to use your service
        </h1>

        <p class="govuk-body">When you connect your service to GOV.UK Verify you’ll be asked to describe the other ways users can access your service, such as by post or over the phone.</p>

        <p class="govuk-body">GOV.UK Verify will show this to users who could not be verified.</p>

        <details>
          <summary class="govuk-body"><a href=""><span class="summary">View example content from a DVLA service</span></a></summary>
          <div class="panel panel-border-narrow">

            <h3 class="govuk-heading-s">Apply by phone</h3>
            <ul class="govuk-list">
              <li>0300 083 0013</li>
              <li>Monday to Friday, 8am to 7pm</li>
              <li>Saturday, 8am to 2pm</li>
              <li><a href="#">Find out about call charges</a></li>
            </ul>

            <h3 class="govuk-heading-s">Apply by post</h3>
            <p class="govuk-body">You can either send a request form or a letter with the following information to the DVLA:</p>
            <ul class="govuk-list--bullet govuk-body">
              <li>your full name and address</li>
              <li>your driver licence number (or your date of birth if you don’t know your driver number)</li>
            </ul>

            <p class="govuk-body">Send your request to:</p>
            <ul class="govuk-list">
              <li>Driver Licence Validation Service</li>
              <li>DVLA</li>
              <li>Swansea</li>
              <li>SA99 1AJ</li>
            </ul> 
          </div>
        </details>
        <br>


        <form action="../tech-task-list" method="post">

          {% from "textarea/macro.njk" import govukTextarea %}

          {{ govukTextarea({
            "name": "other-ways",
            "value": data['other-ways'],
            "id": "other-ways",
            "label": {
              "hintText": "You can use Markdown or HTML content, including URLs"
            }

          }) }}

          {{ govukButton({
            "text": "Save and continue"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
