{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Connect ‘"+data['name-of-service']+"’ to GOV.UK Verify",
        "href": "../tech-task-list"
      }
    ]
  }) }}

  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">

        <h1 class="govuk-heading-l">
          Sign agreement with GOV.UK Verify
        </h1>

        <p>
          Before a service can go live, your organisation needs to sign GOV.UK Verify’s Memorandum of Understanding and your team needs to agree to our Terms of Use.
        </p>

        <form action="../tech-task-list">
          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            "label": {
              "text": "Enter the email of the responsible person on your team"
            },
            classes: "govuk-!-width-two-thirds",
            id: "agreement-email",
            name: "agreement-email"
          }) }}

          {% from "input/macro.njk" import govukInput %}

          {{ govukInput({
            id: "agreement-sent",
            name: "agreement-sent",
            value: "true",
            classes: "visually-hidden"
          }) }}

          {{ govukButton({
            "name": "button",
            "text": "Send agreements",
            "element": "button"
          }) }}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
